# **Feature Selection**: RF and Chi Squared
------------------

In [1]:
# https://infosecjupyterthon.com/notebooks/2_Jupyterthon_Cyb3rPandaH_2020.html
from pyspark.sql import SparkSession
from pyspark.sql import DataFrame
from pyspark.sql.types import *
import pyspark.sql.functions as func
from pyspark.sql.functions import length, concat ,concat_ws

import pandas as pd, numpy as np, networkx as nx
import matplotlib.pyplot as plt
import requests
from openhunt import ossem, descriptiveStatistics as ds, visualizations as vis
import warnings
warnings.filterwarnings('ignore')

# Import packages
import os
import seaborn as sns
from sklearn.naive_bayes import MultinomialNB
from sklearn.metrics import accuracy_score, confusion_matrix
%matplotlib inline

In [3]:
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
spark.conf.set("spark.sql.caseSensitive", "true")
spark.sparkContext.setCheckpointDir("./tmp/checkpoints")
spark.sparkContext.version
spark.conf.set("spark.driver.memory", "3g")
spark.conf.set("spark.executor.memory", "3g")

In [4]:
df_index = spark.read.json('df_labelled_coalesce.json')

In [5]:
df_index = df_index.select("*").withColumn("id", func.monotonically_increasing_id()).drop("tags")

In [6]:
df_index = df_index.withColumn("TP_Binary", func.when((df_index["TP_Label"]=='0'), 0).otherwise(1))

In [6]:
df_index = df_index.checkpoint()

In [7]:
df_index = df_index.cache()

In [8]:
# Try to Pands thru Spark -> post checkpoint + cache -> : java.lang.OutOfMemoryError: Java heap space -> No change
# pd_index = df_index.toPandas()

In [7]:
df_index.createTempView('apt29Host')

In [8]:
target_host_day1 = spark.sql(
'''
SELECT *
FROM apt29Host
WHERE NOT TP_Label = '0'
''')

In [11]:
pd_target_distict_count = target_host_day1.agg(*[
    func.countDistinct(c).alias(c)    # vertical (column-wise) operations in SQL ignore NULLs
    for c in target_host_day1.columns
]).toPandas().transpose()

In [59]:
pd.options.display.max_rows = 100
pd_target_distict_count.sort_values(by = 0, ascending = False).head(30)

                       0
id                  3438
RecordNumber         759
Message              756
ActivityID           638
ContextInfo          623
@timestamp           475
Payload              416
EventReceivedTime     87
EventTime             78
UtcTime               59
TP_Label              55
ProcessId             51
ProcessGuid           34
ThreadID              25
NewProcessId          21
Hashes                18
Image                 17
ParentProcessId       16
ParentProcessGuid     16
Task                  15
EventID               15
RelativeTargetName    14
CommandLine           14
ScriptBlockId         14
ScriptBlockText       13
TargetFilename        13
TargetObject          12
ExecutionProcessID    11
ParentCommandLine     11
SubjectLogonId        11

In [57]:
# Select subset of columns with more than 1 AND less than 52 unique values
columnList = list(pd_target_distict_count.loc[(pd_target_distict_count[0] > 1) & (pd_target_distict_count[0] < 52)].sort_values(by = 0, ascending = False).iloc[:3].index.values)

In [58]:
columnList

['ProcessId', 'ProcessGuid', 'ThreadID']

In [23]:
#columnList = ["EventID", "ProcessGuid"]

In [14]:
# Class Balance
df_index.groupBy(df_index["TP_Binary"]).count().orderBy('count', ascending=False).toPandas()

   TP_Binary   count
0          0  195322
1          1    3438

In [15]:
# Categorical Freq Count by Columns with more than one distinct value in the target subset
#for i in columnList:
#    display(df_index.groupBy(df_index[i]).count().orderBy('count', ascending=False).toPandas())

                     @timestamp  count
0      2020-05-02T03:00:36.941Z    121
1      2020-05-02T03:00:37.248Z    117
2      2020-05-02T03:20:38.217Z     99
3      2020-05-02T03:20:46.921Z     99
4      2020-05-02T03:20:53.888Z     98
...                         ...    ...
50318  2020-05-02T03:08:18.613Z      1
50319  2020-05-02T03:01:35.720Z      1
50320  2020-05-02T02:56:17.115Z      1
50321  2020-05-02T03:03:07.031Z      1
50322  2020-05-02T02:59:50.492Z      1

[50323 rows x 2 columns]

                                           AccessList   count
0                                                None  187719
1                                  %%4432\r\n\t\t\t\t    6773
2   %%1538\r\n\t\t\t\t%%4432\r\n\t\t\t\t%%4435\r\n...    3821
3   %%1538\r\n\t\t\t\t%%1541\r\n\t\t\t\t%%4416\r\n...      44
4   %%1537\r\n\t\t\t\t%%1538\r\n\t\t\t\t%%4432\r\n...      44
5                                  %%4416\r\n\t\t\t\t      42
6   %%1538\r\n\t\t\t\t%%1541\r\n\t\t\t\t%%4416\r\n...      36
7                                  %%1537\r\n\t\t\t\t      30
8   %%1541\r\n\t\t\t\t%%4416\r\n\t\t\t\t%%4423\r\n...      30
9   %%1537\r\n\t\t\t\t%%1538\r\n\t\t\t\t%%1539\r\n...      26
10                                 %%4433\r\n\t\t\t\t      25
11  %%1538\r\n\t\t\t\t%%4432\r\n\t\t\t\t%%4433\r\n...      21
12  %%1538\r\n\t\t\t\t%%5394\r\n\t\t\t\t%%5396\r\n...      17
13  %%1537\r\n\t\t\t\t%%1538\r\n\t\t\t\t%%1539\r\n...      11
14  %%1537\r\n\t\t\t\t%%1538\r\n\t\t\t\t%%1539\r\n...      10
15  %%1537\r\n\t\t\t\t%%1538\r\n\t\t\t\t%%1539\r\n...      10
16  %%1552\r\n\t\t\t\t%%1553\r\n\t\t\t\t%%1554\r\n...       8
17  %%1538\r\n\t\t\t\t%%1541\r\n\t\t\t\t%%4417\r\n...       8
18               %%1541\r\n\t\t\t\t%%4423\r\n\t\t\t\t       7
19                                 %%4484\r\n\t\t\t\t       6
20                                 %%4423\r\n\t\t\t\t       6
21                                 %%5649\r\n\t\t\t\t       6
22                                 %%4417\r\n\t\t\t\t       5
23  %%4483\r\n\t\t\t\t%%4484\r\n\t\t\t\t%%4485\r\n...       5
24  %%1538\r\n\t\t\t\t%%5410\r\n\t\t\t\t%%5412\r\n...       4
25  %%4484\r\n\t\t\t\t%%4490\r\n\t\t\t\t%%4492\r\n...       4
26  %%1537\r\n\t\t\t\t%%1538\r\n\t\t\t\t%%1541\r\n...       4
27                                 %%1539\r\n\t\t\t\t       4
28               %%1541\r\n\t\t\t\t%%4424\r\n\t\t\t\t       4
29               %%1537\r\n\t\t\t\t%%4423\r\n\t\t\t\t       4
30               %%4432\r\n\t\t\t\t%%4433\r\n\t\t\t\t       3
31                                 %%7187\r\n\t\t\t\t       2
32  %%1538\r\n\t\t\t\t%%4432\r\n\t\t\t\t%%4433\r\n...       2
33               %%1541\r\n\t\t\t\t%%4416\r\n\t\t\t\t       2
34  %%1537\r\n\t\t\t\t%%1538\r\n\t\t\t\t%%1539\r\n...       2
35  %%1537\r\n\t\t\t\t%%1538\r\n\t\t\t\t%%1539\r\n...       2
36               %%4432\r\n\t\t\t\t%%4436\r\n\t\t\t\t       2
37  %%1537\r\n\t\t\t\t%%1538\r\n\t\t\t\t%%1539\r\n...       2
38  %%1537\r\n\t\t\t\t%%1538\r\n\t\t\t\t%%1539\r\n...       2
39  %%5424\r\n\t\t\t\t%%5425\r\n\t\t\t\t%%5426\r\n...       1
40  %%1537\r\n\t\t\t\t%%1538\r\n\t\t\t\t%%1539\r\n...       1
41  %%1538\r\n\t\t\t\t%%4432\r\n\t\t\t\t%%4434\r\n...       1
42                                 %%4436\r\n\t\t\t\t       1
43  %%4432\r\n\t\t\t\t%%4433\r\n\t\t\t\t%%4434\r\n...       1
44  %%1537\r\n\t\t\t\t%%1538\r\n\t\t\t\t%%1539\r\n...       1
45                                 %%7688\r\n\t\t\t\t       1

                                           AccessMask   count
0                                                None  187664
1                                                 0x1    6815
2                                             0x20019    3821
3                                             0x3001f      44
4                                            0x120089      44
5                                            0x12019f      36
6                                             0xf003f      36
7                                                 0x2      36
8                                            0x100081      30
9                                             0x10000      30
10                                            0x2001f      21
11                                            0x20094      21
12                                            0xf01ff      16
13  %%1537\r\n\t\t\t\t%%1538\r\n\t\t\t\t%%1539\r\n...      12
14  %%1537\r\n\t\t\t\t%%1538\r\n\t\t\t\t%%1539\r\n...      11
15                                             983103      11
16                                            0xf07df      10
17                                                0x7       9
18                                           0x120196       8
19  %%1537\r\n\t\t\t\t%%1538\r\n\t\t\t\t%%1539\r\n...       8
20                                               0x10       7
21                                           0x100080       7
22                                               0x80       6
23                                             0x1478       5
24                                            0x10080       4
25                                            0x40000       4
26                                             0x1410       4
27                                           16777216       4
28                                           0x100100       4
29  %%1537\r\n\t\t\t\t%%1538\r\n\t\t\t\t%%1539\r\n...       4
30                                           0x13019f       4
31                                                0x3       3
32                                           0x100001       2
33                                                0x8       2
34                                           0x1fffff       2
35                                            2031617       2
36                                               0x11       2
37  %%1537\r\n\t\t\t\t%%1538\r\n\t\t\t\t%%1539\r\n...       2
38                                            0x2001b       2
39                                           0x1f3fff       2
40                                                  0       1
41                                              0x100       1
42                                           0x17019f       1
43                                                0xf       1
44                                            0x2001d       1

       AccountName   count
0           SYSTEM  145230
1             None   46308
2          pbeesly    7158
3  NETWORK SERVICE      41
4    LOCAL SERVICE      23

                                  ActivityID   count
0                                       None  186806
1     {BCCD0404-4290-0001-60ED-CE673020D601}    3177
2     {A725FCD6-CBDF-0000-6337-C31E1D20D601}     202
3     {55C748F1-AE9F-0001-EE1C-BFD51F20D601}     107
4     {7AEC1283-BA78-47DB-AB99-27A339F7971E}      70
...                                      ...     ...
5218  {BCCD0404-4290-0000-CE1E-14D71F20D601}       1
5219  {BCCD0404-4290-0001-E44A-13D71F20D601}       1
5220  {A725FCD6-CBDF-0001-F27D-D81E1D20D601}       1
5221  {BCCD0404-4290-0000-B1FC-10D71F20D601}       1
5222  {BCCD0404-4290-0000-B621-11D71F20D601}       1

[5223 rows x 2 columns]

                                          Application   count
0                                                None  193299
1   \device\harddiskvolume2\windows\system32\svcho...    1518
2   \device\harddiskvolume2\packages\plugins\micro...     721
3     \device\harddiskvolume2\windows\temp\python.exe     696
4   \device\harddiskvolume4\windows\system32\lsass...     445
5                                              System     378
6   \device\harddiskvolume4\windows\system32\svcho...     375
7   \device\harddiskvolume2\windows\system32\lsass...     334
8    \device\harddiskvolume4\windows\system32\dns.exe     291
9   \device\harddiskvolume4\windows\adws\microsoft...      86
10  \device\harddiskvolume2\windowsazure\packages\...      74
11  \device\harddiskvolume2\windows\system32\servi...      70
12  \device\harddiskvolume2\windows\system32\windo...      49
13  \device\harddiskvolume2\windowsazure\packages\...      45
14  \device\harddiskvolume4\windows\system32\dfsrs...      42
15  \device\harddiskvolume2\windows\system32\dsreg...      36
16  \device\harddiskvolume2\windowsazure\packages\...      31
17  \device\harddiskvolume2\windows\system32\winin...      30
18  \device\harddiskvolume2\windows\system32\spool...      30
19  \device\harddiskvolume2\program files\sysinter...      26
20  \device\harddiskvolume4\windowsazure\packages\...      24
21  \device\harddiskvolume2\windows\system32\backg...      20
22  \device\harddiskvolume4\windows\system32\wbem\...      20
23  \device\harddiskvolume2\windows\system32\backg...      18
24  \device\harddiskvolume2\windows\systemapps\mic...      16
25  \device\harddiskvolume4\windowsazure\packages\...      14
26  \device\harddiskvolume2\windows\system32\rundl...      12
27  \device\harddiskvolume2\windowsazure\secagent\...      10
28  \device\harddiskvolume4\windows\system32\dsreg...       9
29  \device\harddiskvolume2\windowsazure\windowsaz...       8
30  \device\harddiskvolume4\windowsazure\packages\...       8
31  \device\harddiskvolume2\windows\system32\taskh...       5
32  \device\harddiskvolume4\windowsazure\packages\...       4
33  \device\harddiskvolume2\windows\system32\werfa...       4
34  \device\harddiskvolume4\windowsazure\secagent\...       4
35  \device\harddiskvolume4\windowsazure\windowsaz...       2
36  \device\harddiskvolume2\programdata\victim\â€®...       2
37  \device\harddiskvolume4\windows\system32\ismse...       2
38  \device\harddiskvolume2\windows\system32\smart...       2

                                  Archived   count
0                                     None  198338
1                                     true     418
2  false - shredded file with pattern 0x00       4

                              Category   count
0                                 None  144192
1                             Registry   21638
2                   Executing Pipeline    7795
3                  Handle Manipulation    5471
4        Filtering Platform Connection    5461
5           Pipeline Execution Details    5113
6           Other Policy Change Events    2588
7          Token Right Adjusted Events    1802
8              Sensitive Privilege Use     989
9                     Process Creation     461
10            Execute a Remote Command     414
11                 Process Termination     398
12                               Logon     314
13                    Group Membership     297
14                              Logoff     237
15     MPSSVC Rule-Level Policy Change     216
16                       Special Logon     212
17         Authorization Policy Change     143
18                  Provider Lifecycle     138
19    Filtering Platform Policy Change     122
20                 Detailed File Share     121
21          Other Object Access Events      88
22                         File System      72
23                                 SAM      58
24             User Account Management      51
25           Security System Extension      50
26                       Kernel Object      47
27                          File Share      46
28                    Engine Lifecycle      34
29  Kerberos Service Ticket Operations      28
30           Security Group Management      24
31          PowerShell Console Startup      24
32                             Connect      21
33                 Other System Events      17
34                   Removable Storage      16
35           PowerShell Named Pipe IPC      16
36     Kerberos Authentication Service      14
37                    System Integrity      12
38                 Service State Event       9
39                Plug and Play Events       5
40               Security State Change       2
41                    Service shutdown       1
42                 Audit Policy Change       1
43               Credential Validation       1
44            Directory Service Access       1

                                              Channel   count
0                Microsoft-Windows-Sysmon/Operational  143891
1                                            Security   28629
2                                            security   12375
3            Microsoft-Windows-PowerShell/Operational    8364
4                                  Windows PowerShell    5285
5                                              System      91
6          Microsoft-Windows-WMI-Activity/Operational      90
7   Microsoft-Windows-TerminalServices-RemoteConne...      15
8   Microsoft-Windows-Windows Firewall With Advanc...      10
9   Microsoft-Windows-TerminalServices-LocalSessio...       9
10          Microsoft-Windows-Bits-Client/Operational       1

                                           CommandLine   count
0                                                 None  197867
1    \??\C:\windows\system32\conhost.exe 0xffffffff...     126
2     C:\Windows\System32\RuntimeBroker.exe -Embedding      26
3    "C:\windows\system32\backgroundTaskHost.exe" -...      24
4     C:\windows\system32\wbem\wmiprvse.exe -Embedding      20
..                                                 ...     ...
268  %SystemRoot%\system32\csrss.exe ObjectDirector...       1
269              \??\C:\windows\system32\autochk.exe *       1
270                                        wininit.exe       1
271                      \SystemRoot\System32\smss.exe       1
272  "powershell.exe" -nop -w hidden -c &amp;([scri...       1

[273 rows x 2 columns]

                                            Company   count
0                                              None  178055
1                             Microsoft Corporation   20298
2                                                 -     331
3                                   The ICU Project      20
4               Sysinternals - www.sysinternals.com      20
5                                  Microsoft CoreXT       9
6                                        Google LLC       8
7                                      Sysinternals       8
8                           SQLite Development Team       4
9                                  Alexander Roshal       2
10  Fraunhofer Institut Integrierte Schaltungen IIS       2
11                                            Adobe       1
12                                      Igor Pavlov       1
13                       Python Software Foundation       1

                                            ContextInfo   count
0                                                  None  190965
1             Severity = Informational\r\n        Ho...      16
2             Severity = Informational\r\n        Ho...      16
3             Severity = Informational\r\n        Ho...      16
4             Severity = Informational\r\n        Ho...      16
...                                                 ...     ...
5120          Severity = Informational\r\n        Ho...       1
5121          Severity = Informational\r\n        Ho...       1
5122          Severity = Informational\r\n        Ho...       1
5123          Severity = Informational\r\n        Ho...       1
5124          Severity = Informational\r\n        Ho...       1

[5125 rows x 2 columns]

             CreationUtcTime   count
0                       None  196884
1    2016-04-18 20:53:44.000      41
2    2020-05-02 01:22:02.247      17
3    2020-05-02 01:21:27.463      17
4    2020-05-02 01:02:09.939      17
..                       ...     ...
966  2020-05-02 03:19:16.837       1
967  2020-05-02 03:00:27.751       1
968  2020-05-02 03:08:30.895       1
969  2020-05-02 03:19:28.009       1
970  2020-05-02 03:08:25.457       1

[971 rows x 2 columns]

                                     CurrentDirectory   count
0                                                None  198314
1                                C:\windows\system32\     292
2                                          C:\windows      70
3   C:\Windows\SystemApps\Microsoft.Windows.Conten...      17
4                              C:\ProgramData\victim\      10
5               C:\WindowsAzure\CollectGuestLogsTemp\       8
6                 C:\Program Files\SysinternalsSuite\       8
7                C:\WindowsAzure\Packages\GuestAgent\       5
8   C:\Windows\SystemApps\Microsoft.Windows.Cortan...       4
9   C:\Packages\Plugins\Microsoft.Azure.NetworkWat...       4
10                                   C:\Windows\Temp\       4
11   C:\Program Files (x86)\Google\Update\1.3.35.452\       4
12  C:\Packages\Plugins\Microsoft.Compute.CustomSc...       3
13  C:\Windows\SystemApps\Microsoft.MicrosoftEdge_...       3
14                                        C:\windows\       3
15  C:\Program Files\WindowsApps\Microsoft.Windows...       2
16  C:\Packages\Plugins\Microsoft.Compute.JsonADDo...       2
17  C:\Windows\SystemApps\Microsoft.Windows.StartM...       1
18  C:\Program Files\WindowsApps\Microsoft.Microso...       1
19                                  C:\Users\pbeesly\       1
20  C:\Windows\SystemApps\ShellExperienceHost_cw5n...       1
21  C:\Packages\Plugins\Microsoft.Azure.Security.I...       1
22  C:\windows\TEMP\E7116ECA-DFE6-43C7-8FA8-8D3AC5...       1
23  C:\WindowsAzure\WindowsAzureNetAgent_1.0.0.143...       1

                                        Description   count
0                                              None  178094
1                      Microsoft® C Runtime Library     844
2                    Windows NT BASE API Client DLL     844
3                                    GDI Client DLL     753
4          Windows Cryptographic Primitives Library     621
...                                             ...     ...
1062  Network Diagnostic Framework HC Discovery API       1
1063           Kerberos Client Shared Functionality       1
1064       Home Networking Configuration API Client       1
1065                              Window Management       1
1066                      PresentationFramework.dll       1

[1067 rows x 2 columns]

         DestAddress   count
0               None  195557
1           10.0.0.4     831
2    169.254.169.254     733
3          10.0.1.10     556
4        192.168.0.4     370
..               ...     ...
101    192.54.112.30       1
102    95.100.175.64       1
103     23.35.79.143       1
104    84.53.139.128       1
105   193.221.113.53       1

[106 rows x 2 columns]

   DestPort   count
0      None  195557
1        80     792
2      5985     568
3        53     437
4      8443     348
5       389     325
6       445     167
7        88     114
8       135      91
9     49667      73
10      443      66
11    59208      48
12      137      38
13      138      27
14     9389      20
15     1900      20
16     8037      16
17        0      15
18      123      14
19    49675      10
20    32526       8
21     3389       3
22      139       1
23    62280       1
24     1234       1

                     DestinationIp   count
0                             None  197531
1                      192.168.0.4     356
2                         10.0.0.4     323
3   fe80:0:0:0:e40c:95b6:b0a7:6429     116
4                  0:0:0:0:0:0:0:1     111
..                             ...     ...
88                    192.175.48.1       1
89                   192.54.112.30       1
90                   95.100.175.64       1
91                   84.53.139.128       1
92                  193.221.113.53       1

[93 rows x 2 columns]

    DestinationPort   count
0              None  197531
1              8443     348
2               389     222
3                88      95
4                53      80
..              ...     ...
196           58458       1
197           64543       1
198           63518       1
199           61440       1
200           61689       1

[201 rows x 2 columns]

                                                Details   count
0                                                  None  181219
1                                           Binary Data    4500
2                                    DWORD (0x00000000)    1799
3                                    DWORD (0x00000001)    1136
4                                    DWORD (0x00000002)     630
...                                                 ...     ...
3125                               2020/5/2 3:18:35'110       1
3126  C:\windows\system32\config\systemprofile\AppDa...       1
3127                                           S-1-5-19       1
3128                             NarratorQuickStart.App       1
3129               AppXw2ahfj46c0qbns74sb1bad9a5cpw8042       1

[3130 rows x 2 columns]

         Domain   count
0  NT AUTHORITY  145294
1          None   46308
2       DMEVALS    7158

     EventID  count
0         12  61158
1         10  39286
2          7  20259
3         13  17542
4       4658  10973
..       ...    ...
160    51047      1
161      261      1
162     6038      1
163     5024      1
164       24      1

[165 rows x 2 columns]

        EventReceivedTime  count
0     2020-05-01 23:19:52   2266
1     2020-05-01 23:20:17   2094
2     2020-05-01 23:20:18   2029
3     2020-05-01 23:20:16   1705
4     2020-05-01 23:01:44   1592
...                   ...    ...
1791  2020-05-01 23:23:24      1
1792  2020-05-01 23:13:32      1
1793  2020-05-01 23:26:44      1
1794  2020-05-01 23:11:54      1
1795  2020-05-01 23:27:41      1

[1796 rows x 2 columns]

                EventTime  count
0     2020-05-01 23:19:30   8724
1     2020-05-01 23:19:31   5301
2     2020-05-01 23:08:26   3255
3     2020-05-01 23:08:27   3144
4     2020-05-01 23:19:20   3115
...                   ...    ...
1955  2020-05-01 23:27:07      1
1956  2020-05-01 23:26:41      1
1957  2020-05-01 23:25:56      1
1958  2020-05-01 23:23:23      1
1959  2020-05-01 23:26:28      1

[1960 rows x 2 columns]

       EventType   count
0           INFO  157221
1  AUDIT_SUCCESS   40078
2  AUDIT_FAILURE     925
3        WARNING     261
4        VERBOSE     225
5          ERROR      50

    ExecutionProcessID  count
0                 3368  50981
1                 3484  46478
2                    4  36831
3                 3428  24789
4                 3968  11240
..                 ...    ...
68                1148      1
69                5624      1
70                8000      1
71                4184      1
72                8372      1

[73 rows x 2 columns]

                               FileVersion   count
0                                     None  178055
1      10.0.18362.1 (WinBuild.160101.0800)    6513
2    10.0.18362.719 (WinBuild.160101.0800)    2454
3    10.0.18362.387 (WinBuild.160101.0800)    2147
4    10.0.18362.693 (WinBuild.160101.0800)    2055
..                                     ...     ...
136                                1.5.5.9       1
137                             4.8.4110.0       1
138                        9.00.30729.9619       1
139                               2.8.6.69       1
140                                    2.1       1

[141 rows x 2 columns]

                                                 Hashes   count
0                                                  None  177633
1     SHA1=C67C3C415EBDFF8C51C80E09838EAD29F79CD57D,...     413
2     SHA1=D2AD4D4A061147CA2102FD1198A1AB5E81089687,...     401
3     SHA1=3CB1C63FEA955C4A987F9B3140E2194536B3D533,...     401
4     SHA1=6F760E5583E17EE8ACF5941811F98F357E329CD3,...     401
...                                                 ...     ...
1737  SHA1=A356444BEBF9DE3B3E2BF0A8D94FCE149A4F956A,...       1
1738  SHA1=5170DDD2109F93EF587058F0CECB52B02159A68C,...       1
1739  SHA1=8BFFA768F7C9A4344A33E5CEDD701099E29245D0,...       1
1740  SHA1=2182F5048F1F3F56092295A9291CC052F830E42F,...       1
1741  SHA1=9451B4260B126933BB4180CBB7F980E2AE2AC217,...       1

[1742 rows x 2 columns]

                 Hostname   count
0  SCRANTON.dmevals.local  133796
1    NASHUA.dmevals.local   29058
2   NEWYORK.dmevals.local   23935
3     UTICA.dmevals.local   11971

                                                 Image  count
0                                                 None  94250
1                      C:\windows\system32\svchost.exe  25502
2    C:\windows\system32\WindowsPowerShell\v1.0\pow...  17059
3                C:\windows\system32\wbem\wmiprvse.exe   7332
4                      C:\Windows\System32\svchost.exe   5506
..                                                 ...    ...
184                              C:\windows\Sysmon.exe      1
185   C:\Program Files\SysinternalsSuite\accesschk.exe      1
186  C:\Program Files\WindowsApps\Microsoft.Windows...      1
187                     C:\windows\system32\dfssvc.exe      1
188                   C:\windows\system32\dispdiag.exe      1

[189 rows x 2 columns]

                              ImageLoaded   count
0                                    None  178501
1           C:\Windows\System32\ntdll.dll     430
2      C:\Windows\System32\KernelBase.dll     418
3        C:\Windows\System32\kernel32.dll     418
4          C:\Windows\System32\rpcrt4.dll     418
...                                   ...     ...
1241     C:\Windows\System32\cryptsvc.dll       1
1242  C:\Windows\System32\userinitext.dll       1
1243       C:\Windows\System32\winbio.dll       1
1244              C:\Windows\Temp\Rar.exe       1
1245      C:\Windows\System32\wininit.exe       1

[1246 rows x 2 columns]

  IntegrityLevel   count
0           None  198314
1         System     296
2         Medium      78
3           High      39
4   AppContainer      33

    IpPort   count
0     None  198241
1        -     129
2    59997      29
3    49669      17
4        0      15
..     ...     ...
204  57174       1
205  49763       1
206  57177       1
207  57342       1
208  57122       1

[209 rows x 2 columns]

  IsExecutable   count
0         None  198338
1        false     286
2         true     136

               Keywords   count
0  -9223372036854775808  143932
1  -9214364837600034816   40078
2                     0    8362
3     36028797018963968    5293
4  -9218868437227405312     925
5   4611686018427387904      93
6   1152921504606846976      24
7  -9187343239835811840      22
8   2305843009213693952       9
9  -9223369837831520256       8
10 -9223372036854775806       3
11 -9223372036854775680       2
12 -9223372036854775792       2
13  2305878193585782784       2
14 -9223372036854775776       2
15  4620693217682128896       1
16 -9223372036854774780       1
17 -9223301668110597116       1

                                 LogonGuid   count
0                                     None  197972
1   {47ab858c-e6ad-5eac-e703-000000000000}     171
2   {00000000-0000-0000-0000-000000000000}      86
3   {8e9952b9-76c2-4180-9723-806b9f40f806}      62
4   {2ae0a698-7c53-02af-08c2-81dfeb66f781}      49
..                                     ...     ...
78  {6fdaf3e9-3bd5-fda8-bc54-4d4175959ba0}       1
79  {8dc4ffd7-bafa-e1c0-c76c-9579058078aa}       1
80  {fc1fd21a-c818-423c-69a9-b8a74ad3132b}       1
81  {c2614bad-598d-ef57-01ff-f8373fe0331d}       1
82  {4bf63193-40b6-5611-61de-2cfac1aa7b08}       1

[83 rows x 2 columns]

     LogonId   count
0       None  198314
1      0x3e7     243
2   0x13069a      42
3   0x372e81      31
4      0x3e5      30
5   0x3731f3      29
6      0x3e4      27
7   0x30ba2c      17
8   0x89177d       9
9   0x1305dc       4
10  0x867825       2
11  0x86e353       2
12  0x30b706       2
13  0x86b59a       2
14    0x834a       1
15    0xddb8       1
16  0x121a62       1
17  0x85aad2       1
18  0x12106a       1
19    0x828e       1

  MandatoryLabel   count
0           None  198300
1   S-1-16-16384     307
2    S-1-16-8192      79
3   S-1-16-12288      39
4    S-1-16-4096      35

    NewProcessId   count
0           None  198300
1         0x14f4       3
2         0x16a0       3
3         0x1284       2
4         0x16b0       2
..           ...     ...
416        0xf4c       1
417       0x14bc       1
418       0x13ac       1
419       0x1ba8       1
420       0x2394       1

[421 rows x 2 columns]

                                       NewProcessName   count
0                                                None  198300
1                     C:\Windows\System32\svchost.exe     100
2                     C:\Windows\System32\conhost.exe      65
3          C:\Windows\System32\backgroundTaskHost.exe      18
4               C:\Windows\System32\wbem\WmiPrvSE.exe      17
..                                                ...     ...
110                     C:\Windows\System32\VSSVC.exe       1
111  C:\Program Files\SysinternalsSuite\accessChk.exe       1
112                   C:\Windows\SysWOW64\dllhost.exe       1
113                           C:\Windows\Temp\Rar.exe       1
114                   C:\Windows\System32\wininit.exe       1

[115 rows x 2 columns]

                                 ObjectType   count
0                                      None  187521
1                                       Key   10761
2                                      File     197
3                                     Token     143
4                                SAM_DOMAIN      38
5                                   Process      19
6                                         -      18
7                            SERVICE OBJECT      14
8                                SAM_SERVER      10
9                         SC_MANAGER OBJECT       8
10                                  Unknown       7
11                                SAM_GROUP       6
12                             SecretObject       6
13                                Semaphore       4
14                                SAM_ALIAS       3
15                                   Mutant       2
16                                Enumerate       1
17  %{19195a5b-6da0-11d0-afd3-00c04fd930c9}       1
18                                 SAM_USER       1

                                               Opcode   count
0                                                None  143915
1                                                Info   46470
2   To be used when operation is just executing a ...    7842
3                                     On create calls     414
4              To be used when an exception is raised      47
5                                        Open (async)      31
6                                               Start      15
7                                                Stop      11
8            to be used when an object is constructed       6
9                                     ServiceShutdown       4
10                                        ServiceStop       2
11                                       ServiceStart       2
12                            ServiceStopWithRefCount       1

    OpcodeValue   count
0           0.0  185095
1          20.0    7842
2           NaN    5290
3          15.0     414
4          19.0      47
5          10.0      31
6           1.0      15
7           2.0      11
8          16.0       6
9         129.0       4
10         68.0       1
11         63.0       1
12        104.0       1
13         62.0       1
14         69.0       1

               OriginalFileName   count
0                          None  178055
1                         gdi32     753
2                     ntdll.dll     434
3                    rpcrt4.dll     422
4                Kernelbase.dll     422
...                         ...     ...
1130      SecurityHealthSSO.dll       1
1131               FECLIENT.DLL       1
1132          provdatastore.dll       1
1133                 pcasvc.dll       1
1134  PresentationFramework.dll       1

[1135 rows x 2 columns]

                                    ParentCommandLine   count
0                                                None  198314
1                    C:\windows\system32\services.exe     127
2    C:\windows\system32\svchost.exe -k DcomLaunch -p      75
3   C:\windows\system32\svchost.exe -k netsvcs -p ...      31
4             C:\WindowsAzure\Packages\WaAppAgent.exe      21
..                                                ...     ...
78                                                  ?       1
79  "sc.exe" config WindowsAzureGuestAgent error= ...       1
80  C:\windows\system32\dispdiag.exe -out dispdiag...       1
81  "powershell.exe" -nop -w hidden -c &amp;([scri...       1
82  "FindVolume\FindVolume.exe" /path \device\Hard...       1

[83 rows x 2 columns]

                                          ParentImage   count
0                                                None  198314
1                    C:\Windows\System32\services.exe     127
2                     C:\Windows\System32\svchost.exe     121
3                         C:\Windows\System32\cmd.exe      25
4   C:\Windows\System32\WindowsPowerShell\v1.0\pow...      24
5             C:\WindowsAzure\Packages\WaAppAgent.exe      21
6                        C:\Windows\System32\smss.exe      10
7               C:\Windows\System32\SearchIndexer.exe       9
8                    C:\Windows\System32\winlogon.exe       9
9   C:\WindowsAzure\Packages\GuestAgent\WindowsAzu...       9
10      C:\WindowsAzure\Packages\CollectGuestLogs.exe       8
11                     C:\Windows\System32\logman.exe       7
12                         C:\Windows\Temp\python.exe       7
13                   C:\Windows\System32\dsregcmd.exe       5
14  C:\Program Files (x86)\Google\Update\GoogleUpd...       4
15             C:\ProgramData\victim\â€®cod.3aka3.scr       4
16                            C:\Windows\PSEXESVC.exe       4
17                         C:\Windows\System32\sc.exe       4
18                            C:\Windows\explorer.exe       4
19                        C:\Windows\System32\ARP.EXE       3
20                      C:\Windows\System32\netsh.exe       3
21                      C:\Windows\System32\ROUTE.EXE       3
22  C:\WindowsAzure\Packages\Telemetry\WindowsAzur...       3
23                   C:\Windows\System32\ipconfig.exe       3
24                    C:\Windows\System32\wininit.exe       3
25  C:\Program Files\WindowsApps\Microsoft.SkypeAp...       2
26                   C:\Windows\System32\wevtutil.exe       2
27  C:\Windows\Microsoft.NET\Framework64\v4.0.3031...       2
28        C:\WindowsAzure\SecAgent\WaSecAgentProv.exe       2
29                     C:\Windows\System32\hostui.exe       2
30                   C:\Windows\System32\gpupdate.exe       2
31  C:\Packages\Plugins\Microsoft.Azure.NetworkWat...       2
32                  C:\Windows\System32\javamtsup.exe       1
33  C:\Packages\Plugins\Microsoft.Azure.Security.I...       1
34                    C:\Windows\System32\control.exe       1
35  C:\WindowsAzure\WindowsAzureNetAgent_1.0.0.143...       1
36              C:\Windows\System32\RuntimeBroker.exe       1
37                   C:\Windows\System32\dispdiag.exe       1
38  C:\WindowsAzure\Packages\GuestAgent\FindVolume...       1
39                   C:\Windows\System32\userinit.exe       1
40  C:\WindowsAzure\WindowsAzureNetAgent_1.0.0.143...       1
41                                             System       1
42  C:\WindowsAzure\Packages\GuestAgent\BfeToolWin...       1
43                      C:\Windows\System32\sdclt.exe       1

                          ParentProcessGuid   count
0                                      None  198314
1    {47ab858c-e6ad-5eac-0b00-000000000500}     102
2    {47ab858c-e6ae-5eac-1000-000000000500}      24
3    {47ab858c-cada-5eac-1000-000000000400}      21
4    {5aa8ec29-cad8-5eac-1000-000000000400}      20
..                                      ...     ...
129  {6bbf237a-cb01-5eac-4c00-000000000400}       1
130  {47ab858c-e379-5eac-dc03-000000000400}       1
131  {47ab858c-e3d3-5eac-e603-000000000400}       1
132  {47ab858c-e6af-5eac-1600-000000000500}       1
133  {47ab858c-e1e5-5eac-ba03-000000000400}       1

[134 rows x 2 columns]

    ParentProcessId   count
0              None  198314
1               736     102
2               884      41
3               944      31
4               720      20
..              ...     ...
122            3324       1
123             760       1
124            5220       1
125            5636       1
126            6992       1

[127 rows x 2 columns]

                                    ParentProcessName   count
0                                                None  198303
1                    C:\Windows\System32\services.exe     132
2                     C:\Windows\System32\svchost.exe     124
3   C:\Windows\System32\WindowsPowerShell\v1.0\pow...      25
4                         C:\Windows\System32\cmd.exe      25
5             C:\WindowsAzure\Packages\WaAppAgent.exe      21
6                        C:\Windows\System32\smss.exe      10
7               C:\Windows\System32\SearchIndexer.exe       9
8                    C:\Windows\System32\winlogon.exe       9
9   C:\WindowsAzure\Packages\GuestAgent\WindowsAzu...       9
10      C:\WindowsAzure\Packages\CollectGuestLogs.exe       8
11                     C:\Windows\System32\logman.exe       7
12                         C:\Windows\Temp\python.exe       7
13  C:\Program Files (x86)\Google\Update\GoogleUpd...       5
14                   C:\Windows\System32\dsregcmd.exe       5
15  C:\Program Files\WindowsApps\Microsoft.SkypeAp...       4
16             C:\ProgramData\victim\â€®cod.3aka3.scr       4
17                            C:\Windows\PSEXESVC.exe       4
18                         C:\Windows\System32\sc.exe       4
19                            C:\Windows\explorer.exe       4
20                        C:\Windows\System32\ARP.EXE       3
21                      C:\Windows\System32\netsh.exe       3
22                      C:\Windows\System32\ROUTE.EXE       3
23  C:\WindowsAzure\Packages\Telemetry\WindowsAzur...       3
24                   C:\Windows\System32\ipconfig.exe       3
25                    C:\Windows\System32\wininit.exe       3
26                   C:\Windows\System32\wevtutil.exe       2
27  C:\Windows\Microsoft.NET\Framework64\v4.0.3031...       2
28        C:\WindowsAzure\SecAgent\WaSecAgentProv.exe       2
29                     C:\Windows\System32\hostui.exe       2
30                   C:\Windows\System32\gpupdate.exe       2
31  C:\Packages\Plugins\Microsoft.Azure.NetworkWat...       2
32                  C:\Windows\System32\javamtsup.exe       1
33  C:\Packages\Plugins\Microsoft.Azure.Security.I...       1
34                    C:\Windows\System32\control.exe       1
35  C:\WindowsAzure\WindowsAzureNetAgent_1.0.0.143...       1
36              C:\Windows\System32\RuntimeBroker.exe       1
37                   C:\Windows\System32\dispdiag.exe       1
38  C:\WindowsAzure\Packages\GuestAgent\FindVolume...       1
39                   C:\Windows\System32\userinit.exe       1
40  C:\WindowsAzure\WindowsAzureNetAgent_1.0.0.143...       1
41  C:\WindowsAzure\Packages\GuestAgent\BfeToolWin...       1
42                      C:\Windows\System32\sdclt.exe       1

                                                 Path   count
0                                                None  198729
1    C:\Program Files\SysinternalsSuite\psversion.ps1       6
2       C:\Program Files\SysinternalsSuite\readme.ps1       4
3   C:\Program Files\WindowsPowerShell\Modules\xNe...       4
4   C:\Program Files\WindowsPowerShell\Modules\xAc...       2
5   C:\Program Files\WindowsPowerShell\Modules\xSt...       2
6   C:\Program Files\WindowsPowerShell\Modules\xSt...       2
7   C:\Program Files\WindowsPowerShell\Modules\xNe...       2
8   C:\Program Files\WindowsPowerShell\Modules\xSt...       2
9   C:\Program Files\WindowsPowerShell\Modules\xAc...       2
10  C:\Program Files\WindowsPowerShell\Modules\xSt...       2
11  C:\Users\pbeesly\AppData\Local\Temp\1012367794...       1
12  C:\Program Files\WindowsPowerShell\Modules\Mic...       1
13  C:\Program Files\WindowsPowerShell\Modules\7Zi...       1

                                                Payload   count
0                                                  None  190965
1     CommandInvocation(Start-Sleep): "Start-Sleep"\...     978
2     CommandInvocation(Test-Path): "Test-Path"\r\nP...     154
3     CommandInvocation(Test-Path): "Test-Path"\r\nP...     153
4     CommandInvocation(Set-StrictMode): "Set-Strict...     121
...                                                 ...     ...
2304  CommandInvocation(ProgressBarHelper): "Progres...       1
2305  CommandInvocation(Join-Path): "Join-Path"\r\nP...       1
2306  CommandInvocation(Move-Item): "Move-Item"\r\nP...       1
2307  CommandInvocation(Write-Verbose): "Write-Verbo...       1
2308  CommandInvocation(ProgressBarHelper): "Progres...       1

[2309 rows x 2 columns]

                                ProcessGuid  count
0                                      None  94250
1    {47ab858c-e374-5eac-d803-000000000400}  15802
2    {47ab858c-e6c0-5eac-7600-000000000500}  13694
3    {32aa854b-e288-5eac-5203-000000000300}   3773
4    {32aa854b-e60c-5eac-6103-000000000300}   3369
..                                      ...    ...
646  {47ab858c-caf2-5eac-9600-000000000400}      1
647  {47ab858c-cadf-5eac-3b00-000000000400}      1
648  {47ab858c-dabb-5eac-df02-000000000400}      1
649  {5aa8ec29-cae0-5eac-4f00-000000000400}      1
650  {47ab858c-cada-5eac-0d00-000000000400}      1

[651 rows x 2 columns]

     ProcessId  count
0         3852  15850
1         None  15230
2         5044  14215
3          900   8689
4          884   8411
...        ...    ...
1103      5544      1
1104      3380      1
1105     0x74c      1
1106    0x1128      1
1107    0x1dac      1

[1108 rows x 2 columns]

                                           ProcessName   count
0                                                 None  173222
1                      C:\Windows\System32\svchost.exe    8002
2    C:\Windows\System32\WindowsPowerShell\v1.0\pow...    7134
3                C:\Windows\System32\wbem\WmiPrvSE.exe    5447
4                     C:\Windows\System32\services.exe     770
..                                                 ...     ...
111  \Device\HarddiskVolume2\Windows\System32\svcho...       1
112  C:\Program Files\WindowsApps\Microsoft.Windows...       1
113        C:\WindowsAzure\SecAgent\WaSecAgentProv.exe       1
114                     C:\Windows\System32\hostui.exe       1
115  C:\Windows\SystemApps\InputApp_cw5n1h2txyewy\W...       1

[116 rows x 2 columns]

                                            Product   count
0                                              None  178055
1              Microsoft® Windows® Operating System   19283
2                                                 -     340
3                         Microsoft® .NET Framework     330
4                                 Internet Explorer     188
5                                   Windows® Search     177
6        Microsoft (R) Windows (R) Operating System     151
7                    Microsoft® Visual Studio® 2017      47
8              International Components for Unicode      20
9                   Microsoft ® Windows Script Host      18
10                      Windows Installer - Unicode      18
11                      Microsoft XML Core Services      17
12                              Sysinternals PsExec      16
13                         Microsoft (R) Visual C++      16
14                             Sysinternals Sdelete      12
15                                      Windows SDK      10
16                                Microsoft® CoReXT      10
17                      Microsoft Edge Web Platform       9
18                                    Google Update       8
19                                   Microsoft Edge       6
20                               Microsoft ® Chakra       4
21                                           SQLite       4
22                               Microsoft OneDrive       3
23           Microsoft Windows Performance Recorder       3
24                   Microsoft® Visual Studio® 2013       2
25                                           WinRAR       2
26               MPEG Layer-3 Audio Codec for MSACM       2
27          Adobe Flash Player Control Panel Applet       1
28                                            7-Zip       1
29          Driver Install Frameworks API (DIFxAPI)       1
30                Microsoft® Speech Recognizer 11.1       1
31              Microsoft Synchronization Framework       1
32  Microsoft ® Windows Script Host Runtime Library       1
33                       Microsoft ® Script Runtime       1
34                                           Python       1
35                   Microsoft® Visual Studio® 2008       1

  Protocol   count
0     None  192066
1        6    4230
2       17    1216
3      tcp     921
4      udp     308
5       58      10
6        2       5
7      256       4

                              ProviderGuid   count
0   {5770385F-C22A-43E0-BF4C-06F5698FFBD9}  143891
1   {54849625-5478-4994-A5BA-3E3B0328C30D}   41003
2   {A0C1853B-5C40-4B15-8766-3CF1C58F985A}    8364
3                                     None    5290
4   {1418EF04-B0B4-4623-BF7E-D74AB47BBDAA}      90
5   {555908D1-A6D7-4695-8E1E-26931D2012F4}      18
6   {C76BAA63-AE81-421C-B425-340B4B24157F}      15
7   {F3C5E28E-63F6-49C7-A204-E48A1BC4B09D}      12
8   {D1BC9AFF-2ABF-4D71-9146-ECB2A986EB85}      10
9   {152FBE4B-C7AD-4F68-BADA-A4FCC1464F6C}       9
10  {5D896912-022D-40AA-A3A8-4FA5515C76D7}       9
11  {A68CA8B7-004F-D7B6-A698-07E2DE0F1F5D}       9
12  {15CA44FF-4D7A-4BAA-BBA5-0998955E531E}       6
13  {15A7A4F8-0072-4EAB-ABAD-F98A4D666AED}       6
14  {3FF37A1C-A68D-4D6E-8C9B-F79E8B16C482}       3
15  {1B562E86-B7AA-4131-BADC-B6F3A001407E}       3
16  {6A1F2B00-6A90-4C38-95A5-5CAB3B056778}       3
17  {06EDCFEB-0FD0-4E53-ACCA-A6F8BBF81BCB}       2
18  {DBE9B383-7CF3-4331-91CC-A3CB16A3B538}       2
19  {331C3B3A-2005-44C2-AC5E-77220C37D6B4}       2
20  {AEA1B4FA-97D1-45F2-A64C-4D69FFFD92C9}       2
21  {0F67E49F-FE51-4E9F-B490-6F2948CC6027}       2
22  {A7975C8F-AC13-49F1-87DA-5A984A4AB417}       2
23  {1C95126E-7EEA-49A9-A3FE-A378B03DDB4D}       1
24  {FC65DDD8-D6EF-4962-83D5-6E5CFE9CE148}       1
25  {199FE037-2B82-40A9-82AC-E1D46C792B99}       1
26  {B0AA8734-56F7-41CC-B2F4-DE228E98B946}       1
27  {206F6DEA-D3C5-4D10-BC72-989F03C8B84B}       1
28  {EF1CC15B-46C1-414E-BB95-E76B077BD51E}       1
29  {0D4FDC09-8C27-494A-BDA0-505E4FD8ADAE}       1

        RecordNumber  count
0               8859     17
1               8853     17
2              10239     17
3               9555     17
4               9321     17
...              ...    ...
179565        398601      1
179566         70765      1
179567        141829      1
179568        412492      1
179569        392800      1

[179570 rows x 2 columns]

                                   RelativeTargetName   count
0                                                None  198639
1                                        PSEXESVC.exe      12
2                                                samr      11
3   dmevals.local\Policies\{31B2F340-016D-11D2-945...      10
4                                              lsarpc      10
5                                              svcctl       8
6   dmevals.local\Policies\{6AC1786C-016F-11D2-945...       7
7                                                   \       7
8                                            PSEXESVC       4
9                              dmevals.local\Policies       3
10  DMEVALS.LOCAL\POLICIES\{31B2F340-016D-11D2-945...       3
11  DMEVALS.LOCAL\POLICIES\{31B2F340-016D-11D2-945...       3
12  DMEVALS.LOCAL\POLICIES\{31B2F340-016D-11D2-945...       3
13  dmevals.local\Policies\{31B2F340-016D-11D2-945...       3
14  dmevals.local\Policies\{31B2F340-016D-11D2-945...       3
15                                    Temp\python.exe       3
16                                      dmevals.local       3
17  DMEVALS.LOCAL\POLICIES\{31B2F340-016D-11D2-945...       3
18  dmevals.local\Policies\{31B2F340-016D-11D2-945...       3
19  dmevals.local\Policies\{31B2F340-016D-11D2-945...       3
20  dmevals.local\Policies\{31B2F340-016D-11D2-945...       3
21  dmevals.local\Policies\{31B2F340-016D-11D2-945...       3
22                      PSEXESVC-SCRANTON-2668-stderr       1
23                                               Temp       1
24                      PSEXESVC-SCRANTON-8928-stderr       1
25                       PSEXESVC-SCRANTON-8928-stdin       1
26                      PSEXESVC-SCRANTON-1412-stderr       1
27                      PSEXESVC-SCRANTON-1412-stdout       1
28                       PSEXESVC-SCRANTON-2668-stdin       1
29                       PSEXESVC-SCRANTON-1412-stdin       1
30                      PSEXESVC-SCRANTON-5924-stderr       1
31                      PSEXESVC-SCRANTON-2668-stdout       1
32                       PSEXESVC-SCRANTON-5924-stdin       1
33                      PSEXESVC-SCRANTON-8928-stdout       1
34                      PSEXESVC-SCRANTON-5924-stdout       1

                            ScriptBlockId   count
0                                    None  198503
1    6547700f-6538-4b23-8e76-0b42fbd3cfef       3
2    9642527f-caf4-4da9-b0a9-2b1990f5adac       1
3    d7770e1c-9706-45f7-b821-a58d7d7b71d6       1
4    52213e0b-f743-4395-a6b5-4e85061ce056       1
..                                    ...     ...
251  de86d413-a00c-4619-ae4e-9d11c4274ba0       1
252  0943f7fe-e808-492e-b955-ca275c8ca2b5       1
253  e3f1b192-9d7b-4a9a-8409-20beb000fca7       1
254  e854ca8e-4867-45d4-b4b5-8220a3c45bc5       1
255  02d6a3af-e86e-497e-bbef-b61f1898f883       1

[256 rows x 2 columns]

                                       ScriptBlockText   count
0                                                 None  198503
1                                               prompt      52
2    function __cmdletization_BindCommonParameters\...       8
3                                                 exit       5
4    .\PsExec64.exe -accepteula \\NASHUA -u "dmeval...       4
..                                                 ...     ...
138             { $_.MainWindowHandle -eq $TopWindow }       1
139               Remove-Job -Name "Screenshot" -Force       1
140  { $_.GlobalAssemblyCache -And $_.Location.Spli...       1
141            { $_.UserName -like "*\$env:USERNAME" }       1
142  New-Item -Path HKCU:\Software\Classes\Folder\s...       1

[143 rows x 2 columns]

  Severity   count
0     INFO  197299
1    ERROR     975
2  WARNING     261
3    DEBUG     225

   SeverityValue   count
0              2  197299
1              4     975
2              3     261
3              1     225

    ShareName   count
0        None  198593
1  \\*\SYSVOL      69
2    \\*\IPC$      66
3  \\*\ADMIN$      30
4      \\*\C$       1
5      \\*\D$       1

                                           Signature   count
0                                               None  178501
1                                  Microsoft Windows   19568
2                                                  -     365
3                              Microsoft Corporation     193
4                        Microsoft Windows Publisher     117
5                                      Windows Phone       6
6                                         Google LLC       4
7              Microsoft Windows 3rd party Component       4
8                                       win.rar GmbH       1
9  Microsoft Windows Third Party Application Comp...       1

  SignatureStatus   count
0            None  178501
1           Valid   19894
2     Unavailable     365

  Signed   count
0   None  178501
1   true   19894
2  false     365

                                           SourceName   count
0                            Microsoft-Windows-Sysmon  143891
1                 Microsoft-Windows-Security-Auditing   41003
2                        Microsoft-Windows-PowerShell    8364
3                                          PowerShell    5285
4                      Microsoft-Windows-WMI-Activity      90
5                             Service Control Manager      18
6   Microsoft-Windows-TerminalServices-RemoteConne...      15
7                     Microsoft-Windows-FilterManager      12
8   Microsoft-Windows-Windows Firewall With Advanc...      10
9                    Microsoft-Windows-Hyper-V-Netvsc       9
10  Microsoft-Windows-TerminalServices-LocalSessio...       9
11                   Microsoft-Windows-Kernel-General       9
12                      Microsoft-Windows-Dhcp-Client       6
13                      Microsoft-Windows-Kernel-Boot       6
14                                           EventLog       4
15                    Microsoft-Windows-DHCPv6-Client       3
16                   Microsoft-Windows-DistributedCOM       3
17                             Microsoft-Windows-Ntfs       3
18                         Microsoft-Windows-Winlogon       2
19                     Microsoft-Windows-Time-Service       2
20                            Microsoft-Windows-WinRM       2
21                      Microsoft-Windows-GroupPolicy       2
22           Microsoft-Windows-Kernel-Processor-Power       2
23                     Microsoft-Windows-Kernel-Power       2
24                         Microsoft-Windows-Eventlog       1
25                          Microsoft-Windows-Wininit       1
26                      Microsoft-Windows-Bits-Client       1
27           Microsoft-Windows-Directory-Services-SAM       1
28                                             User32       1
29                                             LsaSrv       1
30                                             volmgr       1
31                       Microsoft-Windows-DNS-Client       1

     SourcePort   count
0          None  192070
1         49706     403
2         49702     312
3            53     152
4         49669     102
...         ...     ...
1417      51296       1
1418      61183       1
1419      50493       1
1420      63518       1
1421      65171       1

[1422 rows x 2 columns]

  SubjectDomainName   count
0              None  166440
1           DMEVALS   26202
2      NT AUTHORITY    5619
3                 -     476
4    Window Manager      19
5  Font Driver Host       4

    SubjectLogonId   count
0             None  166440
1            0x3e7   14050
2         0x372e81    7930
3            0x3e5    5558
4         0x3731f3    1130
..             ...     ...
182       0x62e176       1
183       0x121a19       1
184        0x3c45c       1
185       0x612c31       1
186       0x5b66f9       1

[187 rows x 2 columns]

    SubjectUserName   count
0              None  166440
1           pbeesly   11532
2          NEWYORK$    7766
3         SCRANTON$    5804
4     LOCAL SERVICE    5558
5           NASHUA$     832
6                 -     476
7            UTICA$     253
8            SYSTEM      59
9              WEC$      15
10            DWM-2      10
11            DWM-1       9
12           UMFD-2       2
13  NETWORK SERVICE       1
14  ANONYMOUS LOGON       1
15           UMFD-0       1
16           UMFD-1       1

                                    SubjectUserSid   count
0                                             None  166440
1                                         S-1-5-18   14207
2   S-1-5-21-1830255721-3727074217-2423397540-1107   11532
3                                         S-1-5-19    5558
4                                         S-1-5-20     446
5                                          S-1-0-0     439
6   S-1-5-21-1830255721-3727074217-2423397540-1113      49
7   S-1-5-21-1830255721-3727074217-2423397540-1112      35
8   S-1-5-21-1830255721-3727074217-2423397540-1114      15
9   S-1-5-21-1830255721-3727074217-2423397540-1111      15
10                                    S-1-5-90-0-2      10
11                                    S-1-5-90-0-1       9
12                                    S-1-5-96-0-2       2
13                                    S-1-5-96-0-1       1
14                                         S-1-5-7       1
15                                    S-1-5-96-0-0       1

                                             TP_Label   count
0                                                   0  195322
1   0, 4.A.3. Deobfuscate/Decode Files or Informat...    3291
2                      0, 8.C.2. Windows Admin Shares      16
3                         0, 8.C.3. Service Execution       8
4                   0, 8.A.2. Remote System Discovery       8
5                             0, 4.B.2. File Deletion       7
6                               0, 5.A.1. New Service       7
7                             0, 4.B.3. File Deletion       7
8                             0, 4.B.4. File Deletion       7
9                                0, 1.B.2. PowerShell       6
10              0, 3.B.2. Bypass User Account Control       5
11   0, 7.B.4. Exfiltration Over Alternative Protocol       5
12                       0, 3.B.3. Commonly Used Port       4
13                  0, 8.A.1. Remote System Discovery       4
14                               0, 4.A.2. PowerShell       4
15                         0, 8.B.1. Remote File Copy       4
16  0, 9.C.1. File Deletion, 9.C.2. File Deletion,...       3
17                           0, 8.C.1. Valid Accounts       3
18                   0, 1.B.1. Command-Line Interface       3
19                     0, 1.A.3. Uncommonly Used Port       2
20                       0, 10.A.1. Service Execution       2
21    0, 7.B.3. Data Encrypted, 7.B.3. Data Encrypted       2
22                       0, 6.C.1. Credential Dumping       2
23  0, 9.A.1. Remote File Copy, 9.A.2. Remote File...       2
24   0, 9.B.6. Data Encrypted, 9.B.7. Data Compressed       2
25      0, 1.A.1. User Execution, 1.A.2. Masquerading       2
26                               0, 9.B.1. PowerShell       2
27  0, 4.B.1. Process Discovery, 4.B.1. Process Di...       2
28         0, 3.B.1. Component Object Model Hijacking       1
29     0, 2.A.5. Data Staged, 4.A.1. Remote File Copy       1
30              0, 4.C.9. Permission Groups Discovery       1
31  0, 4.C.10. Execution through API, 4.C.12. Exec...       1
32  0, 8.A.3. Process Discovery, 8.A.3. Process Di...       1
33                         0, 3.A.1. Remote File Copy       1
34  0, 1.B.1. Command-Line Interface, 2.A.1. File ...       1
35    0, 7.A.1. Screen Capture, 7.A.1. Screen Capture       1
36                          0, 7.B.2. Data Compressed       1
37                            0, 9.C.4. File Deletion       1
38  0, 7.B.3. Data Encrypted, 7.B.3. Data Encrypte...       1
39    0, 7.A.2. Clipboard Data, 7.A.2. Clipboard Data       1
40          0, 1.A.4. Standard Cryptographic Protocol       1
41  0, 2.A.1. File and Directory Discovery, 2.A.2....       1
42  0, 4.B.1. Process Discovery, 4.B.1. Process Di...       1
43                           0, 1.A.1. User Execution       1
44  0, 4.B.1. Process Discovery, 4.B.1. Process Di...       1
45  0, 4.C.5. Process Discovery, 4.C.5. Process Di...       1
46                          0, 3.C.1. Modify Registry       1
47  0, 9.B.2. File and Directory Discovery, 9.B.2....       1
48                             0, 6.B.1. Private Keys       1
49          0, 5.A.1. New Service, 5.A.1. New Service       1
50  0, 3.A.2. Obfuscated Files or Information, 3.A...       1
51          0, 2.A.5. Data Staged, 9.B.5. Data Staged       1
52                           0, 7.A.1. Screen Capture       1
53        0, 6.A.3. Masquerading, 6.A.3. Masquerading       1
54  0, 4.C.1. File and Directory Discovery, 4.C.1....       1
55       0, 5.B.1. Registry Run Keys / Startup Folder       1

    TargetDomainName   count
0               None  195558
1            DMEVALS    2178
2      DMEVALS.LOCAL     472
3                  -     312
4       NT AUTHORITY     155
5            Builtin      24
6   Font Driver Host      13
7     Window Manager      12
8           SCRANTON      11
9            dmevals       8
10            NASHUA       7
11             UTICA       7
12     dmevals.local       3

                                         TargetFilename   count
0                                                  None  196462
1     C:\Windows\ServiceState\EventLog\Data\lastaliv...      68
2     C:\Windows\ServiceState\EventLog\Data\lastaliv...      65
3     C:\Users\pbeesly\AppData\Local\Packages\Micros...      22
4     C:\Windows\System32\Configuration\DSCEngineCac...      11
...                                                 ...     ...
1451  C:\Users\pbeesly\Downloads\__MACOSX\Sysinterna...       1
1452  C:\Users\pbeesly\Downloads\SysinternalsSuite\A...       1
1453        C:\Windows\Prefetch\LOGONUI.EXE-09140401.pf       1
1454  C:\Users\pbeesly\Downloads\SysinternalsSuite\d...       1
1455  C:\Users\pbeesly\AppData\Roaming\Microsoft\Win...       1

[1456 rows x 2 columns]

    TargetLogonId   count
0            None  195664
1           0x3e7    1902
2             0x0     311
3        0x13069a      35
4           0x3e5      33
..            ...     ...
256      0x30c6a1       1
257      0x30bee8       1
258      0x30c776       1
259      0x30b3ee       1
260      0x30bece       1

[261 rows x 2 columns]

                                            TargetObject   count
0                                                   None  120062
1      HKU\S-1-5-21-1830255721-3727074217-2423397540-...    4250
2      HKLM\SOFTWARE\Microsoft\SystemCertificates\Dis...    1928
3      HKLM\SOFTWARE\Microsoft\EnterpriseCertificates...    1928
4                                          HKLM\SOFTWARE    1746
...                                                  ...     ...
20981  HKLM\SOFTWARE\Microsoft\Windows\CurrentVersion...       1
20982  HKLM\SOFTWARE\Microsoft\Windows\CurrentVersion...       1
20983  HKLM\SOFTWARE\Microsoft\Windows\CurrentVersion...       1
20984  HKLM\System\CurrentControlSet\Control\Storage\...       1
20985  HKLM\SOFTWARE\Microsoft\Windows\CurrentVersion...       1

[20986 rows x 2 columns]

             TargetUserName   count
0                      None  195557
1                 SCRANTON$    1143
2                  NEWYORK$     838
3                         -     312
4                   NASHUA$     262
5                   pbeesly     217
6                    UTICA$     144
7                    SYSTEM     120
8             LOCAL SERVICE      33
9                      WEC$      26
10                   wardog      17
11    pbeesly@DMEVALS.LOCAL      15
12           Administrators      13
13  SCRANTON$@DMEVALS.LOCAL      13
14         Backup Operators       8
15                    DWM-2       6
16                    DWM-1       6
17                   UMFD-2       5
18           DefaultAccount       4
19                    Guest       4
20                   UMFD-0       4
21                   UMFD-1       4
22       WDAGUtilityAccount       4
23     Remote Desktop Users       3
24          NETWORK SERVICE       2

                                     TargetUserSid   count
0                                             None  195664
1                                          S-1-0-0    1834
2                                         S-1-5-18     793
3   S-1-5-21-1830255721-3727074217-2423397540-1107     197
4   S-1-5-21-1830255721-3727074217-2423397540-1113     101
5   S-1-5-21-1830255721-3727074217-2423397540-1112      74
6                                         S-1-5-19      31
7   S-1-5-21-1830255721-3727074217-2423397540-1111      26
8   S-1-5-21-1830255721-3727074217-2423397540-1114      17
9                                     S-1-5-90-0-2       5
10                                    S-1-5-90-0-1       5
11   S-1-5-21-1830255721-3727074217-2423397540-500       4
12                                    S-1-5-96-0-2       3
13                                    S-1-5-96-0-1       2
14                                        S-1-5-20       2
15                                    S-1-5-96-0-0       2

     Task  count
0      12  61157
1      10  39283
2   12801  21638
3       7  20259
4      13  17541
..    ...    ...
65   1001      1
66  13568      1
67  14336      1
68   1101      1
69   1028      1

[70 rows x 2 columns]

  TerminalSessionId   count
0              None  198314
1                 0     290
2                 2     150
3                 1       6

     ThreadID  count
0        4612  45958
1        4588  45787
2        4224  24010
3        4236  10573
4        4396  10377
..        ...    ...
253      6868      1
254      1268      1
255      3788      1
256      9152      1
257      1836      1

[258 rows x 2 columns]

  TokenElevationType   count
0               None  198300
1             %%1936     315
2             %%1938     108
3             %%1937      37

                           User   count
0                          None  196663
1           NT AUTHORITY\SYSTEM    1174
2               DMEVALS\pbeesly     790
3  NT AUTHORITY\NETWORK SERVICE      75
4    NT AUTHORITY\LOCAL SERVICE      53
5          Window Manager\DWM-2       1
6          Window Manager\DWM-1       1
7       Font Driver Host\UMFD-1       1
8       Font Driver Host\UMFD-0       1
9       Font Driver Host\UMFD-2       1

                                           UserID   count
0                                        S-1-5-18  145230
1                                            None   46308
2  S-1-5-21-1830255721-3727074217-2423397540-1107    7158
3                                        S-1-5-20      41
4                                        S-1-5-19      23

                       UtcTime  count
0                         None  54870
1      2020-05-02 03:19:31.447    397
2      2020-05-02 03:19:30.337    396
3      2020-05-02 03:19:30.165    384
4      2020-05-02 03:19:30.259    383
...                        ...    ...
16376  2020-05-02 03:15:32.261      1
16377  2020-05-02 03:23:09.379      1
16378  2020-05-02 03:11:00.001      1
16379  2020-05-02 03:02:46.460      1
16380  2020-05-02 03:02:28.263      1

[16381 rows x 2 columns]

   Version  count
0      2.0  81873
1      3.0  59944
2      0.0  26316
3      1.0  22949
4      NaN   5290
5      5.0   2179
6      4.0    209

                 id  count
0                26      1
1                29      1
2               474      1
3               964      1
4              1677      1
...             ...    ...
198755  42949703422      1
198756  42949703509      1
198757  42949704151      1
198758  42949704368      1
198759  42949704491      1

[198760 rows x 2 columns]

In [60]:
from pyspark.ml.feature import OneHotEncoderEstimator, StringIndexer, VectorAssembler
from pyspark.ml import Pipeline
from pyspark.ml.classification import RandomForestClassifier

# one hot encoding and assembling
encoding_var = columnList
#num_var = [i[0] for i in df.dtypes if ((i[1]=='int') | (i[1]=='double')) & (i[0]!='y')]

string_indexes = [StringIndexer(inputCol = c, outputCol = 'IDX_' + c, handleInvalid = 'keep') for c in encoding_var]
onehot_indexes = [OneHotEncoderEstimator(inputCols = ['IDX_' + c], outputCols = ['OHE_' + c]) for c in encoding_var]
label_indexes = StringIndexer(inputCol = 'TP_Binary', outputCol = 'label', handleInvalid = 'keep')
assembler = VectorAssembler(inputCols = ['OHE_' + c for c in encoding_var], outputCol = "features")
rf = RandomForestClassifier(labelCol="label", featuresCol="features", seed = 8464,
                            numTrees=10, cacheNodeIds = True, subsamplingRate = 0.7)

In [61]:
pipe = Pipeline(stages = string_indexes + onehot_indexes + [assembler, label_indexes, rf])

In [62]:
mod = pipe.fit(df_index)

In [63]:
df2 = mod.transform(df_index)

In [64]:
# Failed -> : org.apache.spark.SparkException: Job aborted due to stage failure: Task serialization failed: java.lang.OutOfMemoryError: Java heap space
# Worked on columnList = ["EventID", "ProcessGuid"] feature list
# Worked on columnList = ['ProcessId', 'ProcessGuid', 'ThreadID']
df2 = df2.checkpoint()

In [65]:
# Worked
df2 = df2.cache()

In [67]:
df2.printSchema()

root
 |-- @timestamp: string (nullable = true)
 |-- @version: string (nullable = true)
 |-- AccessList: string (nullable = true)
 |-- AccessMask: string (nullable = true)
 |-- AccessReason: string (nullable = true)
 |-- AccountName: string (nullable = true)
 |-- AccountType: string (nullable = true)
 |-- Action: string (nullable = true)
 |-- Active: string (nullable = true)
 |-- ActiveProfile: string (nullable = true)
 |-- ActivityID: string (nullable = true)
 |-- AdapterName: string (nullable = true)
 |-- AdapterSuffixName: string (nullable = true)
 |-- AdditionalInfo: string (nullable = true)
 |-- AdditionalInfo2: string (nullable = true)
 |-- AdvancedOptions: string (nullable = true)
 |-- AlgorithmName: string (nullable = true)
 |-- Application: string (nullable = true)
 |-- Archived: string (nullable = true)
 |-- AuthenticationPackageName: string (nullable = true)
 |-- BitlockerUserInputTime: string (nullable = true)
 |-- BootMenuPolicy: string (nullable = true)
 |-- BootMode: string (nullable = true)
 |-- BootStatusPolicy: string (nullable = true)
 |-- BootType: string (nullable = true)
 |-- BuildVersion: string (nullable = true)
 |-- CallTrace: string (nullable = true)
 |-- CallerProcessId: string (nullable = true)
 |-- CallerProcessName: string (nullable = true)
 |-- CalloutId: string (nullable = true)
 |-- CalloutKey: string (nullable = true)
 |-- CalloutName: string (nullable = true)
 |-- CalloutType: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- ChangeType: string (nullable = true)
 |-- Channel: string (nullable = true)
 |-- ClassId: string (nullable = true)
 |-- ClassName: string (nullable = true)
 |-- ClientCreationTime: string (nullable = true)
 |-- ClientProcessId: string (nullable = true)
 |-- CommandLine: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- CompatibleIds: string (nullable = true)
 |-- Conditions: string (nullable = true)
 |-- Config: string (nullable = true)
 |-- ConfigAccessPolicy: string (nullable = true)
 |-- ContextInfo: string (nullable = true)
 |-- CorruptionActionState: string (nullable = true)
 |-- CountNew: string (nullable = true)
 |-- CountOfCredentialsReturned: string (nullable = true)
 |-- CountOld: string (nullable = true)
 |-- CreationUtcTime: string (nullable = true)
 |-- CurrentDirectory: string (nullable = true)
 |-- CurrentStratumNumber: string (nullable = true)
 |-- DCName: string (nullable = true)
 |-- Default SD String:: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- DestAddress: string (nullable = true)
 |-- DestPort: string (nullable = true)
 |-- DestinationHostname: string (nullable = true)
 |-- DestinationIp: string (nullable = true)
 |-- DestinationIsIpv6: string (nullable = true)
 |-- DestinationPort: string (nullable = true)
 |-- DestinationPortName: string (nullable = true)
 |-- Details: string (nullable = true)
 |-- Device: string (nullable = true)
 |-- DeviceDescription: string (nullable = true)
 |-- DeviceId: string (nullable = true)
 |-- DeviceName: string (nullable = true)
 |-- DeviceNameLength: string (nullable = true)
 |-- DeviceTime: string (nullable = true)
 |-- DeviceVersionMajor: string (nullable = true)
 |-- DeviceVersionMinor: string (nullable = true)
 |-- Direction: string (nullable = true)
 |-- DirtyPages: string (nullable = true)
 |-- DisableIntegrityChecks: string (nullable = true)
 |-- DisabledPrivilegeList: string (nullable = true)
 |-- DnsServerList: string (nullable = true)
 |-- Domain: string (nullable = true)
 |-- DriveName: string (nullable = true)
 |-- DwordVal: string (nullable = true)
 |-- EdgeTraversal: string (nullable = true)
 |-- ElevatedToken: string (nullable = true)
 |-- EmbeddedContext: string (nullable = true)
 |-- EnableDisableReason: string (nullable = true)
 |-- EnabledNew: string (nullable = true)
 |-- EnabledPrivilegeList: string (nullable = true)
 |-- EntryCount: string (nullable = true)
 |-- ErrorCode: string (nullable = true)
 |-- EventCountTotal: string (nullable = true)
 |-- EventID: long (nullable = true)
 |-- EventIdx: string (nullable = true)
 |-- EventReceivedTime: string (nullable = true)
 |-- EventTime: string (nullable = true)
 |-- EventType: string (nullable = true)
 |-- ExecutionProcessID: long (nullable = true)
 |-- FileName: string (nullable = true)
 |-- FileVersion: string (nullable = true)
 |-- FilterId: string (nullable = true)
 |-- FilterKey: string (nullable = true)
 |-- FilterName: string (nullable = true)
 |-- FilterRTID: string (nullable = true)
 |-- FilterType: string (nullable = true)
 |-- FinalStatus: string (nullable = true)
 |-- Flags: string (nullable = true)
 |-- FlightSigning: string (nullable = true)
 |-- GrantedAccess: string (nullable = true)
 |-- Group: string (nullable = true)
 |-- GroupMembership: string (nullable = true)
 |-- GroupPolicyApplied: string (nullable = true)
 |-- HandleId: string (nullable = true)
 |-- Hash: string (nullable = true)
 |-- Hashes: string (nullable = true)
 |-- HiveName: string (nullable = true)
 |-- HiveNameLength: string (nullable = true)
 |-- Hostname: string (nullable = true)
 |-- HypervisorDebug: string (nullable = true)
 |-- HypervisorLaunchType: string (nullable = true)
 |-- HypervisorLoadOptions: string (nullable = true)
 |-- IdleImplementation: string (nullable = true)
 |-- IdleStateCount: string (nullable = true)
 |-- Image: string (nullable = true)
 |-- ImageLoaded: string (nullable = true)
 |-- ImagePath: string (nullable = true)
 |-- ImpersonationLevel: string (nullable = true)
 |-- Initiated: string (nullable = true)
 |-- InstanceId: string (nullable = true)
 |-- IntegrityLevel: string (nullable = true)
 |-- InterfaceGuid: string (nullable = true)
 |-- InterfaceName: string (nullable = true)
 |-- IpAddress: string (nullable = true)
 |-- IpPort: string (nullable = true)
 |-- Ipaddress: string (nullable = true)
 |-- IsExecutable: string (nullable = true)
 |-- IsTestConfig: string (nullable = true)
 |-- KernelDebug: string (nullable = true)
 |-- KeyFilePath: string (nullable = true)
 |-- KeyLength: string (nullable = true)
 |-- KeyName: string (nullable = true)
 |-- KeyType: string (nullable = true)
 |-- KeysUpdated: string (nullable = true)
 |-- Keywords: long (nullable = true)
 |-- LastBootGood: string (nullable = true)
 |-- LastBootId: string (nullable = true)
 |-- LastShutdownGood: string (nullable = true)
 |-- LayerId: string (nullable = true)
 |-- LayerKey: string (nullable = true)
 |-- LayerName: string (nullable = true)
 |-- LayerRTID: string (nullable = true)
 |-- LinkName: string (nullable = true)
 |-- LmPackageName: string (nullable = true)
 |-- LoadOptions: string (nullable = true)
 |-- LocalAddresses: string (nullable = true)
 |-- LocalOnlyMapped: string (nullable = true)
 |-- LocationInformation: string (nullable = true)
 |-- LogDroppedPacketsEnabled: string (nullable = true)
 |-- LogSuccessfulConnectionsEnabled: string (nullable = true)
 |-- LogonGuid: string (nullable = true)
 |-- LogonId: string (nullable = true)
 |-- LogonProcessName: string (nullable = true)
 |-- LogonType: string (nullable = true)
 |-- LooseSourceMapped: string (nullable = true)
 |-- MajorVersion: string (nullable = true)
 |-- MandatoryLabel: string (nullable = true)
 |-- MaxRunspaces: string (nullable = true)
 |-- MaximumPerformancePercent: string (nullable = true)
 |-- Message: string (nullable = true)
 |-- MessageNumber: string (nullable = true)
 |-- MessageTotal: string (nullable = true)
 |-- MinRunspaces: string (nullable = true)
 |-- MinimumPerformancePercent: string (nullable = true)
 |-- MinimumThrottlePercent: string (nullable = true)
 |-- MiniportName: string (nullable = true)
 |-- MiniportNameLen: string (nullable = true)
 |-- MinorVersion: string (nullable = true)
 |-- ModifyingApplication: string (nullable = true)
 |-- ModifyingUser: string (nullable = true)
 |-- MulticastFlowsEnabled: string (nullable = true)
 |-- NewProcessId: string (nullable = true)
 |-- NewProcessName: string (nullable = true)
 |-- NewProfile: string (nullable = true)
 |-- NewSd: string (nullable = true)
 |-- NewThreadId: string (nullable = true)
 |-- NewTime: string (nullable = true)
 |-- NewValue: string (nullable = true)
 |-- NewValueType: string (nullable = true)
 |-- NominalFrequency: string (nullable = true)
 |-- NotificationPackageName: string (nullable = true)
 |-- Number: string (nullable = true)
 |-- ObjectName: string (nullable = true)
 |-- ObjectServer: string (nullable = true)
 |-- ObjectType: string (nullable = true)
 |-- ObjectValueName: string (nullable = true)
 |-- OldProfile: string (nullable = true)
 |-- OldSd: string (nullable = true)
 |-- OldTime: string (nullable = true)
 |-- OldValue: string (nullable = true)
 |-- OldValueType: string (nullable = true)
 |-- Opcode: string (nullable = true)
 |-- OpcodeValue: long (nullable = true)
 |-- Operation: string (nullable = true)
 |-- OperationMode: string (nullable = true)
 |-- OperationType: string (nullable = true)
 |-- Origin: string (nullable = true)
 |-- OriginalFileName: string (nullable = true)
 |-- PackageName: string (nullable = true)
 |-- ParentCommandLine: string (nullable = true)
 |-- ParentImage: string (nullable = true)
 |-- ParentProcessGuid: string (nullable = true)
 |-- ParentProcessId: string (nullable = true)
 |-- ParentProcessName: string (nullable = true)
 |-- Path: string (nullable = true)
 |-- Payload: string (nullable = true)
 |-- PerformanceImplementation: string (nullable = true)
 |-- PipeName: string (nullable = true)
 |-- PreAuthType: string (nullable = true)
 |-- PreviousCreationUtcTime: string (nullable = true)
 |-- PreviousTime: string (nullable = true)
 |-- PrivilegeList: string (nullable = true)
 |-- ProcessCreationTime: string (nullable = true)
 |-- ProcessGuid: string (nullable = true)
 |-- ProcessId: string (nullable = true)
 |-- ProcessName: string (nullable = true)
 |-- ProcessingMode: string (nullable = true)
 |-- ProcessingTimeInMilliseconds: string (nullable = true)
 |-- Product: string (nullable = true)
 |-- Profile: string (nullable = true)
 |-- ProfileChanged: string (nullable = true)
 |-- ProfileUsed: string (nullable = true)
 |-- Profiles: string (nullable = true)
 |-- Properties: string (nullable = true)
 |-- Protocol: string (nullable = true)
 |-- ProviderContextKey: string (nullable = true)
 |-- ProviderContextName: string (nullable = true)
 |-- ProviderContextType: string (nullable = true)
 |-- ProviderGuid: string (nullable = true)
 |-- ProviderKey: string (nullable = true)
 |-- ProviderName: string (nullable = true)
 |-- ProviderType: string (nullable = true)
 |-- PuaCount: string (nullable = true)
 |-- PuaPolicyId: string (nullable = true)
 |-- QfeVersion: string (nullable = true)
 |-- QueryName: string (nullable = true)
 |-- QueryResults: string (nullable = true)
 |-- QueryStatus: string (nullable = true)
 |-- ReadOperation: string (nullable = true)
 |-- Reason: string (nullable = true)
 |-- ReasonForRejection: string (nullable = true)
 |-- RecordNumber: long (nullable = true)
 |-- RelativeTargetName: string (nullable = true)
 |-- RemoteAddresses: string (nullable = true)
 |-- RemoteAdminEnabled: string (nullable = true)
 |-- RemoteEventLogging: string (nullable = true)
 |-- RemoteMachineID: string (nullable = true)
 |-- RemoteUserID: string (nullable = true)
 |-- ResourceAttributes: string (nullable = true)
 |-- RestrictedAdminMode: string (nullable = true)
 |-- RestrictedSidCount: string (nullable = true)
 |-- ReturnCode: string (nullable = true)
 |-- RuleAttr: string (nullable = true)
 |-- RuleId: string (nullable = true)
 |-- RuleName: string (nullable = true)
 |-- RuleStatus: string (nullable = true)
 |-- SchemaVersion: string (nullable = true)
 |-- ScriptBlockId: string (nullable = true)
 |-- ScriptBlockText: string (nullable = true)
 |-- SecurityOptions: string (nullable = true)
 |-- SecurityPackageName: string (nullable = true)
 |-- Sent UpdateServer: string (nullable = true)
 |-- Service: string (nullable = true)
 |-- ServiceAccount: string (nullable = true)
 |-- ServiceFileName: string (nullable = true)
 |-- ServiceName: string (nullable = true)
 |-- ServiceSid: string (nullable = true)
 |-- ServiceStartType: string (nullable = true)
 |-- ServiceType: string (nullable = true)
 |-- ServiceVersion: string (nullable = true)
 |-- SettingType: string (nullable = true)
 |-- SettingValue: string (nullable = true)
 |-- SettingValueDisplay: string (nullable = true)
 |-- SettingValueSize: string (nullable = true)
 |-- Severity: string (nullable = true)
 |-- SeverityValue: long (nullable = true)
 |-- ShareLocalPath: string (nullable = true)
 |-- ShareName: string (nullable = true)
 |-- ShutdownActionType: string (nullable = true)
 |-- ShutdownEventCode: string (nullable = true)
 |-- ShutdownReason: string (nullable = true)
 |-- Signature: string (nullable = true)
 |-- SignatureStatus: string (nullable = true)
 |-- Signed: string (nullable = true)
 |-- SourceAddress: string (nullable = true)
 |-- SourceHandleId: string (nullable = true)
 |-- SourceHostname: string (nullable = true)
 |-- SourceImage: string (nullable = true)
 |-- SourceIp: string (nullable = true)
 |-- SourceIsIpv6: string (nullable = true)
 |-- SourceModuleName: string (nullable = true)
 |-- SourceModuleType: string (nullable = true)
 |-- SourceName: string (nullable = true)
 |-- SourcePort: string (nullable = true)
 |-- SourcePortName: string (nullable = true)
 |-- SourceProcessGUID: string (nullable = true)
 |-- SourceProcessGuid: string (nullable = true)
 |-- SourceProcessId: string (nullable = true)
 |-- SourceThreadId: string (nullable = true)
 |-- StartAddress: string (nullable = true)
 |-- StartFunction: string (nullable = true)
 |-- StartModule: string (nullable = true)
 |-- StartTime: string (nullable = true)
 |-- StartType: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Status: string (nullable = true)
 |-- StopTime: string (nullable = true)
 |-- SubLayerKey: string (nullable = true)
 |-- SubLayerName: string (nullable = true)
 |-- SubLayerType: string (nullable = true)
 |-- SubjectDomainName: string (nullable = true)
 |-- SubjectLogonId: string (nullable = true)
 |-- SubjectUserName: string (nullable = true)
 |-- SubjectUserSid: string (nullable = true)
 |-- SupportInfo1: string (nullable = true)
 |-- SupportInfo2: string (nullable = true)
 |-- TP_Label: string (nullable = true)
 |-- TSId: string (nullable = true)
 |-- TargetDomainName: string (nullable = true)
 |-- TargetFilename: string (nullable = true)
 |-- TargetHandleId: string (nullable = true)
 |-- TargetImage: string (nullable = true)
 |-- TargetInfo: string (nullable = true)
 |-- TargetLinkedLogonId: string (nullable = true)
 |-- TargetLogonGuid: string (nullable = true)
 |-- TargetLogonId: string (nullable = true)
 |-- TargetName: string (nullable = true)
 |-- TargetObject: string (nullable = true)
 |-- TargetOutboundDomainName: string (nullable = true)
 |-- TargetOutboundUserName: string (nullable = true)
 |-- TargetProcessGUID: string (nullable = true)
 |-- TargetProcessGuid: string (nullable = true)
 |-- TargetProcessId: string (nullable = true)
 |-- TargetProcessName: string (nullable = true)
 |-- TargetServerName: string (nullable = true)
 |-- TargetSid: string (nullable = true)
 |-- TargetUserName: string (nullable = true)
 |-- TargetUserSid: string (nullable = true)
 |-- Task: long (nullable = true)
 |-- TaskContentNew: string (nullable = true)
 |-- TaskName: string (nullable = true)
 |-- TerminalSessionId: string (nullable = true)
 |-- TestSigning: string (nullable = true)
 |-- ThreadID: long (nullable = true)
 |-- TicketEncryptionType: string (nullable = true)
 |-- TicketOptions: string (nullable = true)
 |-- TimeSource: string (nullable = true)
 |-- TimeSourceRefId: string (nullable = true)
 |-- TokenElevationType: string (nullable = true)
 |-- TransactionId: string (nullable = true)
 |-- TransmittedServices: string (nullable = true)
 |-- Type: string (nullable = true)
 |-- UpdateReason: string (nullable = true)
 |-- User: string (nullable = true)
 |-- UserData: string (nullable = true)
 |-- UserID: string (nullable = true)
 |-- UserName: string (nullable = true)
 |-- UserSid: string (nullable = true)
 |-- UtcTime: string (nullable = true)
 |-- VendorIds: string (nullable = true)
 |-- Version: long (nullable = true)
 |-- VersionLen: string (nullable = true)
 |-- VirtualAccount: string (nullable = true)
 |-- VsmLaunchType: string (nullable = true)
 |-- VsmPolicy: string (nullable = true)
 |-- Weight: string (nullable = true)
 |-- Workstation: string (nullable = true)
 |-- WorkstationName: string (nullable = true)
 |-- host: string (nullable = true)
 |-- param1: string (nullable = true)
 |-- param10: string (nullable = true)
 |-- param11: string (nullable = true)
 |-- param2: string (nullable = true)
 |-- param3: string (nullable = true)
 |-- param4: string (nullable = true)
 |-- param5: string (nullable = true)
 |-- param6: string (nullable = true)
 |-- param7: string (nullable = true)
 |-- param8: string (nullable = true)
 |-- param9: string (nullable = true)
 |-- port: long (nullable = true)
 |-- id: long (nullable = false)
 |-- TP_Binary: integer (nullable = false)
 |-- IDX_ProcessId: double (nullable = false)
 |-- IDX_ProcessGuid: double (nullable = false)
 |-- IDX_ThreadID: double (nullable = false)
 |-- OHE_ProcessId: vector (nullable = true)
 |-- OHE_ProcessGuid: vector (nullable = true)
 |-- OHE_ThreadID: vector (nullable = true)
 |-- features: vector (nullable = true)
 |-- label: double (nullable = false)
 |-- rawPrediction: vector (nullable = true)
 |-- probability: vector (nullable = true)
 |-- prediction: double (nullable = false)

In [68]:
mod.stages[-1].featureImportances

SparseVector(2015, {1: 0.2435, 17: 0.1124, 24: 0.0235, 698: 0.208, 1113: 0.1131, 1777: 0.06, 1921: 0.2395})

In [69]:
def ExtractFeatureImp(featureImp, dataset, featuresCol):
    list_extract = []
    for i in dataset.schema[featuresCol].metadata["ml_attr"]["attrs"]:
        list_extract = list_extract + dataset.schema[featuresCol].metadata["ml_attr"]["attrs"][i]
    varlist = pd.DataFrame(list_extract)
    varlist['score'] = varlist['idx'].apply(lambda x: featureImp[x])
    return(varlist.sort_values('score', ascending = False))

In [70]:
ExtractFeatureImp(mod.stages[-1].featureImportances, df2, "features").head(10)

       idx                                               name     score
1        1                                 OHE_ProcessId_5044  0.243494
1921  1921                                  OHE_ThreadID_8416  0.239530
698    698                                OHE_ProcessId_0x87c  0.207961
1113  1113  OHE_ProcessGuid_{47ab858c-dac2-5eac-e802-00000...  0.113114
17      17                                 OHE_ProcessId_1960  0.112398
1777  1777                                  OHE_ThreadID_1740  0.060042
24      24                                 OHE_ProcessId_5360  0.023460
1342  1342  OHE_ProcessGuid_{5aa8ec29-cae5-5eac-5d00-00000...  0.000000
1343  1343  OHE_ProcessGuid_{47ab858c-e378-5eac-db03-00000...  0.000000
1344  1344  OHE_ProcessGuid_{47ab858c-e6b2-5eac-5600-00000...  0.000000

In [41]:
# Retry with more columns

In [71]:
# Select subset of columns with more than 1 AND less than 52 unique values -> top 5
columnList = list(pd_target_distict_count.loc[(pd_target_distict_count[0] > 1) & (pd_target_distict_count[0] < 52)].sort_values(by = 0, ascending = False).iloc[:5].index.values)

In [72]:
# one hot encoding and assembling
encoding_var = columnList
#num_var = [i[0] for i in df.dtypes if ((i[1]=='int') | (i[1]=='double')) & (i[0]!='y')]

string_indexes = [StringIndexer(inputCol = c, outputCol = 'IDX_' + c, handleInvalid = 'keep') for c in encoding_var]
onehot_indexes = [OneHotEncoderEstimator(inputCols = ['IDX_' + c], outputCols = ['OHE_' + c]) for c in encoding_var]
label_indexes = StringIndexer(inputCol = 'TP_Binary', outputCol = 'label', handleInvalid = 'keep')
assembler = VectorAssembler(inputCols = ['OHE_' + c for c in encoding_var], outputCol = "features")
rf = RandomForestClassifier(labelCol="label", featuresCol="features", seed = 8464,
                            numTrees=10, cacheNodeIds = True, subsamplingRate = 0.7)

In [73]:
pipe = Pipeline(stages = string_indexes + onehot_indexes + [assembler, label_indexes, rf])

In [74]:
mod = pipe.fit(df_index)

In [75]:
df2 = mod.transform(df_index)

In [76]:
mod.stages[-1].featureImportances

SparseVector(4176, {1: 0.0981, 5: 0.0106, 11: 0.0119, 20: 0.0107, 45: 0.0047, 72: 0.0044, 84: 0.0024, 208: 0.034, 1112: 0.0156, 1758: 0.0777, 1761: 0.0282, 1763: 0.0289, 1835: 0.0061, 1921: 0.0291, 2075: 0.0065, 2291: 0.0199, 2300: 0.1385, 2337: 0.0505, 2380: 0.0901, 2414: 0.0505, 2422: 0.1088, 2428: 0.1429, 3455: 0.03})

In [77]:
ExtractFeatureImp(mod.stages[-1].featureImportances, df2, "features").head(10)

       idx                                               name     score
2428  2428                            OHE_NewProcessId_0x2290  0.142857
2300  2300                             OHE_NewProcessId_0xef8  0.138478
2422  2422                            OHE_NewProcessId_0x102c  0.108820
1        1                                 OHE_ProcessId_5044  0.098140
2380  2380                            OHE_NewProcessId_0x195c  0.090089
1758  1758                                  OHE_ThreadID_4588  0.077664
2414  2414                             OHE_NewProcessId_0xf0c  0.050453
2337  2337                              OHE_NewProcessId_0xbc  0.050451
208    208                                 OHE_ProcessId_8524  0.034037
3455  3455  OHE_Hashes_SHA1=61A5FFA57DFE0D9B3E4938439FF345...  0.030030

In [78]:
# Select subset of columns with more than 1 AND less than 52 unique values -> top 10
columnList = list(pd_target_distict_count.loc[(pd_target_distict_count[0] > 1) & (pd_target_distict_count[0] < 52)].sort_values(by = 0, ascending = False).iloc[:10].index.values)

# one hot encoding and assembling
encoding_var = columnList
#num_var = [i[0] for i in df.dtypes if ((i[1]=='int') | (i[1]=='double')) & (i[0]!='y')]

string_indexes = [StringIndexer(inputCol = c, outputCol = 'IDX_' + c, handleInvalid = 'keep') for c in encoding_var]
onehot_indexes = [OneHotEncoderEstimator(inputCols = ['IDX_' + c], outputCols = ['OHE_' + c]) for c in encoding_var]
label_indexes = StringIndexer(inputCol = 'TP_Binary', outputCol = 'label', handleInvalid = 'keep')
assembler = VectorAssembler(inputCols = ['OHE_' + c for c in encoding_var], outputCol = "features")
rf = RandomForestClassifier(labelCol="label", featuresCol="features", seed = 8464,
                            numTrees=10, cacheNodeIds = True, subsamplingRate = 0.7)

pipe = Pipeline(stages = string_indexes + onehot_indexes + [assembler, label_indexes, rf])
mod = pipe.fit(df_index)
df2 = mod.transform(df_index)
ExtractFeatureImp(mod.stages[-1].featureImportances, df2, "features").head(20)

       idx                                               name     score
4628  4628                                       OHE_Task_106  0.123079
1        1                                 OHE_ProcessId_5044  0.120104
4623  4623                                        OHE_Task_12  0.094825
2558  2558  OHE_Hashes_SHA1=36C5D12033B2EAF251BAE61C00690F...  0.086222
2711  2711  OHE_Hashes_SHA1=585EB59D12A111E9291518C5CF5D3F...  0.075562
4176  4176          OHE_Image_C:\windows\system32\svchost.exe  0.067394
4381  4381  OHE_ParentProcessGuid_{47ab858c-e43f-5eac-eb03...  0.063470
4626  4626                                         OHE_Task_7  0.059324
2897  2897  OHE_Hashes_SHA1=388B289E2FD96234E2C1E8AE777248...  0.042146
4508  4508                           OHE_ParentProcessId_3480  0.038778

In [80]:
# Select subset of columns with more than 1 AND less than 52 unique values -> top 20
columnList = list(pd_target_distict_count.loc[(pd_target_distict_count[0] > 1) & (pd_target_distict_count[0] < 52)].sort_values(by = 0, ascending = False).iloc[:20].index.values)

# one hot encoding and assembling
encoding_var = columnList
#num_var = [i[0] for i in df.dtypes if ((i[1]=='int') | (i[1]=='double')) & (i[0]!='y')]

string_indexes = [StringIndexer(inputCol = c, outputCol = 'IDX_' + c, handleInvalid = 'keep') for c in encoding_var]
onehot_indexes = [OneHotEncoderEstimator(inputCols = ['IDX_' + c], outputCols = ['OHE_' + c]) for c in encoding_var]
label_indexes = StringIndexer(inputCol = 'TP_Binary', outputCol = 'label', handleInvalid = 'keep')
assembler = VectorAssembler(inputCols = ['OHE_' + c for c in encoding_var], outputCol = "features")
rf = RandomForestClassifier(labelCol="label", featuresCol="features", seed = 8464,
                            numTrees=10, cacheNodeIds = True, subsamplingRate = 0.7)

pipe = Pipeline(stages = string_indexes + onehot_indexes + [assembler, label_indexes, rf])
mod = pipe.fit(df_index)
df2 = mod.transform(df_index)
ExtractFeatureImp(mod.stages[-1].featureImportances, df2, "features").head(20)

         idx                                               name     score
5067    5067  OHE_CommandLine_"PowerShell.exe" -noni -noexit...  0.137528
7621    7621  OHE_TargetObject_HKU\S-1-5-21-1830255721-37270...  0.120860
4865    4865      OHE_CommandLine_"C:\Windows\Temp\python.exe"   0.103400
4875    4875                         OHE_CommandLine_powershell  0.085716
4897    4897   OHE_CommandLine_"C:\windows\system32\sdclt.exe"   0.081018
4432    4432  OHE_ParentProcessGuid_{47ab858c-e1e3-5eac-b603...  0.065404
1921    1921                                  OHE_ThreadID_8416  0.061839
5013    5013  OHE_CommandLine_"C:\ProgramData\victim\â€®cod....  0.057142
5307    5307  OHE_ScriptBlockId_63fc6cf4-cd9f-4134-9231-51cc...  0.056115
2558    2558  OHE_Hashes_SHA1=36C5D12033B2EAF251BAE61C00690F...  0.055759
1376    1376  OHE_ProcessGuid_{47ab858c-e2ac-5eac-cb03-00000...  0.041844
4702    4702                                    OHE_EventID_800  0.030983
7018    7018  OHE_TargetObject_HKLM\SOFTWARE\Microsoft\Syste...  0.028316
18        18                                OHE_ProcessId_0x834  0.021997
3567    3567  OHE_Hashes_SHA1=408238F3BEA1DF74E8B9B672E8F95C...  0.020694
28009  28009                         OHE_ExecutionProcessID_748  0.014814
4198    4198               OHE_Image_C:\Windows\Temp\python.exe  0.007293
63        63                                OHE_ProcessId_0x734  0.005329
37        37                                 OHE_ProcessId_7132  0.003949
19606  19606  OHE_TargetObject_HKLM\System\CurrentControlSet...  0.000000

In [82]:
#pd.options.display.max_rows = 100
pd.options.display.max_colwidth = 100
pd.get_option("display.max_colwidth")

100

In [83]:
ExtractFeatureImp(mod.stages[-1].featureImportances, df2, "features").head(20)

,idx,name,score
5067,5067,"OHE_CommandLine_""PowerShell.exe"" -noni -noexit -ep bypass -window hidden -c ""sal a New-Object;Ad...",0.137528
7621,7621,OHE_TargetObject_HKU\S-1-5-21-1830255721-3727074217-2423397540-1107\Software\Sysinternals\SDelet...,0.120860
4865,4865,"OHE_CommandLine_""C:\Windows\Temp\python.exe""",0.103400
4875,4875,OHE_CommandLine_powershell,0.085716
4897,4897,"OHE_CommandLine_""C:\windows\system32\sdclt.exe""",0.081018
4432,4432,OHE_ParentProcessGuid_{47ab858c-e1e3-5eac-b603-000000000400},0.065404
1921,1921,OHE_ThreadID_8416,0.061839
5013,5013,"OHE_CommandLine_""C:\ProgramData\victim\â€®cod.3aka3.scr"" /S",0.057142
5307,5307,OHE_ScriptBlockId_63fc6cf4-cd9f-4134-9231-51ccb5c7d247,0.056115
2558,2558,"OHE_Hashes_SHA1=36C5D12033B2EAF251BAE61C00690FFB17FDDC87,MD5=CDA48FC75952AD12D99E526D0B6BF70A,SH...",0.055759
1376,1376,OHE_ProcessGuid_{47ab858c-e2ac-5eac-cb03-000000000400},0.041844
4702,4702,OHE_EventID_800,0.030983
7018,7018,OHE_TargetObject_HKLM\SOFTWARE\Microsoft\SystemCertificates\Disallowed,0.028316
18,18,OHE_ProcessId_0x834,0.021997
3567,3567,"OHE_Hashes_SHA1=408238F3BEA1DF74E8B9B672E8F95C5BA2C5DBC0,MD5=FD021D31F1DFA5E00EFA035758023064,SH...",0.020694
28009,28009,OHE_ExecutionProcessID_748,0.014814
4198,4198,OHE_Image_C:\Windows\Temp\python.exe,0.007293
63,63,OHE_ProcessId_0x734,0.005329
37,37,OHE_ProcessId_7132,0.003949
19606,19606,OHE_TargetObject_HKLM\System\CurrentControlSet\Control\WMI\Autologger\AutoLogger-Diagtrack-Liste...,0.000000

In [84]:
columnList

['ProcessId',
 'ProcessGuid',
 'ThreadID',
 'NewProcessId',
 'Hashes',
 'Image',
 'ParentProcessGuid',
 'ParentProcessId',
 'Task',
 'EventID',
 'CommandLine',
 'ScriptBlockId',
 'RelativeTargetName',
 'TargetFilename',
 'ScriptBlockText',
 'TargetObject',
 'ExecutionProcessID',
 'ParentCommandLine',
 'SubjectLogonId',
 'Description']

In [101]:
# Select subset of columns with more than 1 AND less than 52 unique values -> top 20
columnList = list(pd_target_distict_count.loc[(pd_target_distict_count[0] > 1) & (pd_target_distict_count[0] < 52)].sort_values(by = 0, ascending = False).iloc[:20].index.values)
#columnList = ["EventID", "ProcessGuid"]

# one hot encoding and assembling
encoding_var = columnList
#num_var = [i[0] for i in df.dtypes if ((i[1]=='int') | (i[1]=='double')) & (i[0]!='y')]

string_indexes = [StringIndexer(inputCol = c, outputCol = 'IDX_' + c, handleInvalid = 'keep') for c in encoding_var]
onehot_indexes = [OneHotEncoderEstimator(inputCols = ['IDX_' + c], outputCols = ['OHE_' + c]) for c in encoding_var]
label_indexes = StringIndexer(inputCol = 'TP_Binary', outputCol = 'label', handleInvalid = 'keep')
assembler = VectorAssembler(inputCols = ['OHE_' + c for c in encoding_var], outputCol = "features")

In [102]:
pipe = Pipeline(stages = string_indexes + onehot_indexes + [assembler, label_indexes])
mod = pipe.fit(df_index)
df2 = mod.transform(df_index)

In [103]:
from pyspark.ml.feature import ChiSqSelector
selector = ChiSqSelector(numTopFeatures=10, featuresCol='features', outputCol="selectedFeatures", labelCol='label', selectorType='numTopFeatures', percentile=0.1, fpr=0.05, fdr=0.05, fwe=0.05)

In [104]:
mod = selector.fit(df2)

In [105]:
result = mod.transform(df2)

In [108]:
mod.selectedFeatures

[0, 1, 2, 3, 4, 5, 1107, 1108, 1757, 1758]

In [112]:
result.head()

Row(@timestamp='2020-05-02T03:20:47.897Z', @version='1', AccessList=None, AccessMask=None, AccessReason=None, AccountName=None, AccountType=None, Action=None, Active=None, ActiveProfile=None, ActivityID=None, AdapterName=None, AdapterSuffixName=None, AdditionalInfo=None, AdditionalInfo2=None, AdvancedOptions=None, AlgorithmName=None, Application=None, Archived=None, AuthenticationPackageName=None, BitlockerUserInputTime=None, BootMenuPolicy=None, BootMode=None, BootStatusPolicy=None, BootType=None, BuildVersion=None, CallTrace=None, CallerProcessId=None, CallerProcessName=None, CalloutId=None, CalloutKey=None, CalloutName=None, CalloutType=None, Category='Kerberos Service Ticket Operations', ChangeType=None, Channel='Security', ClassId=None, ClassName=None, ClientCreationTime=None, ClientProcessId=None, CommandLine=None, Company=None, CompatibleIds=None, Conditions=None, Config=None, ConfigAccessPolicy=None, ContextInfo=None, CorruptionActionState=None, CountNew=None, CountOfCredentialsReturned=None, CountOld=None, CreationUtcTime=None, CurrentDirectory=None, CurrentStratumNumber=None, DCName=None, Default SD String:=None, Description=None, DestAddress=None, DestPort=None, DestinationHostname=None, DestinationIp=None, DestinationIsIpv6=None, DestinationPort=None, DestinationPortName=None, Details=None, Device=None, DeviceDescription=None, DeviceId=None, DeviceName=None, DeviceNameLength=None, DeviceTime=None, DeviceVersionMajor=None, DeviceVersionMinor=None, Direction=None, DirtyPages=None, DisableIntegrityChecks=None, DisabledPrivilegeList=None, DnsServerList=None, Domain=None, DriveName=None, DwordVal=None, EdgeTraversal=None, ElevatedToken=None, EmbeddedContext=None, EnableDisableReason=None, EnabledNew=None, EnabledPrivilegeList=None, EntryCount=None, ErrorCode=None, EventCountTotal=None, EventID=4769, EventIdx=None, EventReceivedTime='2020-05-01 23:20:47', EventTime='2020-05-01 23:20:46', EventType='AUDIT_SUCCESS', ExecutionProcessID=704, FileName=None, FileVersion=None, FilterId=None, FilterKey=None, FilterName=None, FilterRTID=None, FilterType=None, FinalStatus=None, Flags=None, FlightSigning=None, GrantedAccess=None, Group=None, GroupMembership=None, GroupPolicyApplied=None, HandleId=None, Hash=None, Hashes=None, HiveName=None, HiveNameLength=None, Hostname='NEWYORK.dmevals.local', HypervisorDebug=None, HypervisorLaunchType=None, HypervisorLoadOptions=None, IdleImplementation=None, IdleStateCount=None, Image=None, ImageLoaded=None, ImagePath=None, ImpersonationLevel=None, Initiated=None, InstanceId=None, IntegrityLevel=None, InterfaceGuid=None, InterfaceName=None, IpAddress='::ffff:10.0.1.4', IpPort='49764', Ipaddress=None, IsExecutable=None, IsTestConfig=None, KernelDebug=None, KeyFilePath=None, KeyLength=None, KeyName=None, KeyType=None, KeysUpdated=None, Keywords=-9214364837600034816, LastBootGood=None, LastBootId=None, LastShutdownGood=None, LayerId=None, LayerKey=None, LayerName=None, LayerRTID=None, LinkName=None, LmPackageName=None, LoadOptions=None, LocalAddresses=None, LocalOnlyMapped=None, LocationInformation=None, LogDroppedPacketsEnabled=None, LogSuccessfulConnectionsEnabled=None, LogonGuid='{fe5dd628-f256-ba1b-3123-bfa971bd494a}', LogonId=None, LogonProcessName=None, LogonType=None, LooseSourceMapped=None, MajorVersion=None, MandatoryLabel=None, MaxRunspaces=None, MaximumPerformancePercent=None, Message='A Kerberos service ticket was requested.\r\n\r\nAccount Information:\r\n\tAccount Name:\t\tpbeesly@DMEVALS.LOCAL\r\n\tAccount Domain:\t\tDMEVALS.LOCAL\r\n\tLogon GUID:\t\t{fe5dd628-f256-ba1b-3123-bfa971bd494a}\r\n\r\nService Information:\r\n\tService Name:\t\tNEWYORK$\r\n\tService ID:\t\tS-1-5-21-1830255721-3727074217-2423397540-1000\r\n\r\nNetwork Information:\r\n\tClient Address:\t\t::ffff:10.0.1.4\r\n\tClient Port:\t\t49764\r\n\r\nAdditional Information:\r\n\tTicket Options:\t\t0x40800000\r\n\tTicket Encryption Type:\t0x12\r\n\tFailure Code:\t\t0x0\r\n\tTransited Services:\t-\r\n\r\nThis event is generated every time access is requested to a resource such as a computer or a Windows service.  The service name indicates the resource to which access was requested.\r\n\r\nThis event can be correlated with Windows logon events by comparing the Logon GUID fields in each event.  The logon event occurs on the machine that was accessed, which is often a different machine than the domain controller which issued the service ticket.\r\n\r\nTicket options, encryption types, and failure codes are defined in RFC 4120.', MessageNumber=None, MessageTotal=None, MinRunspaces=None, MinimumPerformancePercent=None, MinimumThrottlePercent=None, MiniportName=None, MiniportNameLen=None, MinorVersion=None, ModifyingApplication=None, ModifyingUser=None, MulticastFlowsEnabled=None, NewProcessId=None, NewProcessName=None, NewProfile=None, NewSd=None, NewThreadId=None, NewTime=None, NewValue=None, NewValueType=None, NominalFrequency=None, NotificationPackageName=None, Number=None, ObjectName=None, ObjectServer=None, ObjectType=None, ObjectValueName=None, OldProfile=None, OldSd=None, OldTime=None, OldValue=None, OldValueType=None, Opcode='Info', OpcodeValue=0, Operation=None, OperationMode=None, OperationType=None, Origin=None, OriginalFileName=None, PackageName=None, ParentCommandLine=None, ParentImage=None, ParentProcessGuid=None, ParentProcessId=None, ParentProcessName=None, Path=None, Payload=None, PerformanceImplementation=None, PipeName=None, PreAuthType=None, PreviousCreationUtcTime=None, PreviousTime=None, PrivilegeList=None, ProcessCreationTime=None, ProcessGuid=None, ProcessId=None, ProcessName=None, ProcessingMode=None, ProcessingTimeInMilliseconds=None, Product=None, Profile=None, ProfileChanged=None, ProfileUsed=None, Profiles=None, Properties=None, Protocol=None, ProviderContextKey=None, ProviderContextName=None, ProviderContextType=None, ProviderGuid='{54849625-5478-4994-A5BA-3E3B0328C30D}', ProviderKey=None, ProviderName=None, ProviderType=None, PuaCount=None, PuaPolicyId=None, QfeVersion=None, QueryName=None, QueryResults=None, QueryStatus=None, ReadOperation=None, Reason=None, ReasonForRejection=None, RecordNumber=156121, RelativeTargetName=None, RemoteAddresses=None, RemoteAdminEnabled=None, RemoteEventLogging=None, RemoteMachineID=None, RemoteUserID=None, ResourceAttributes=None, RestrictedAdminMode=None, RestrictedSidCount=None, ReturnCode=None, RuleAttr=None, RuleId=None, RuleName=None, RuleStatus=None, SchemaVersion=None, ScriptBlockId=None, ScriptBlockText=None, SecurityOptions=None, SecurityPackageName=None, Sent UpdateServer=None, Service=None, ServiceAccount=None, ServiceFileName=None, ServiceName='NEWYORK$', ServiceSid='S-1-5-21-1830255721-3727074217-2423397540-1000', ServiceStartType=None, ServiceType=None, ServiceVersion=None, SettingType=None, SettingValue=None, SettingValueDisplay=None, SettingValueSize=None, Severity='INFO', SeverityValue=2, ShareLocalPath=None, ShareName=None, ShutdownActionType=None, ShutdownEventCode=None, ShutdownReason=None, Signature=None, SignatureStatus=None, Signed=None, SourceAddress=None, SourceHandleId=None, SourceHostname=None, SourceImage=None, SourceIp=None, SourceIsIpv6=None, SourceModuleName='eventlog', SourceModuleType='im_msvistalog', SourceName='Microsoft-Windows-Security-Auditing', SourcePort=None, SourcePortName=None, SourceProcessGUID=None, SourceProcessGuid=None, SourceProcessId=None, SourceThreadId=None, StartAddress=None, StartFunction=None, StartModule=None, StartTime=None, StartType=None, State=None, Status='0x0', StopTime=None, SubLayerKey=None, SubLayerName=None, SubLayerType=None, SubjectDomainName=None, SubjectLogonId=None, SubjectUserName=None, SubjectUserSid=None, SupportInfo1=None, SupportInfo2=None, TP_Label='0', TSId=None, TargetDomainName='DMEVALS.LOCAL', TargetFilename=None, TargetHandleId=None, TargetImage=None, TargetInfo=None, TargetLinkedLogonId=None, TargetLogonGuid=None, TargetLogonId=None, TargetName=None, TargetObject=None, TargetOutboundDomainName=None, TargetOutboundUserName=None, TargetProcessGUID=None, TargetProcessGuid=None, TargetProcessId=None, TargetProcessName=None, TargetServerName=None, TargetSid=None, TargetUserName='pbeesly@DMEVALS.LOCAL', TargetUserSid=None, Task=14337, TaskContentNew=None, TaskName=None, TerminalSessionId=None, TestSigning=None, ThreadID=3504, TicketEncryptionType='0x12', TicketOptions='0x40800000', TimeSource=None, TimeSourceRefId=None, TokenElevationType=None, TransactionId=None, TransmittedServices='-', Type=None, UpdateReason=None, User=None, UserData=None, UserID=None, UserName=None, UserSid=None, UtcTime=None, VendorIds=None, Version=0, VersionLen=None, VirtualAccount=None, VsmLaunchType=None, VsmPolicy=None, Weight=None, Workstation=None, WorkstationName=None, host='wec.internal.cloudapp.net', param1=None, param10=None, param11=None, param2=None, param3=None, param4=None, param5=None, param6=None, param7=None, param8=None, param9=None, port=60737, id=0, TP_Binary=0, IDX_ProcessId=1107.0, IDX_ProcessGuid=650.0, IDX_ThreadID=53.0, IDX_NewProcessId=420.0, IDX_Hashes=1741.0, IDX_Image=188.0, IDX_ParentProcessGuid=133.0, IDX_ParentProcessId=126.0, IDX_Task=42.0, IDX_EventID=50.0, IDX_CommandLine=272.0, IDX_ScriptBlockId=255.0, IDX_RelativeTargetName=34.0, IDX_TargetFilename=1455.0, IDX_ScriptBlockText=142.0, IDX_TargetObject=20985.0, IDX_ExecutionProcessID=11.0, IDX_ParentCommandLine=82.0, IDX_SubjectLogonId=186.0, IDX_Description=1066.0, OHE_ProcessId=SparseVector(1107, {}), OHE_ProcessGuid=SparseVector(650, {}), OHE_ThreadID=SparseVector(258, {53: 1.0}), OHE_NewProcessId=SparseVector(420, {}), OHE_Hashes=SparseVector(1741, {}), OHE_Image=SparseVector(188, {}), OHE_ParentProcessGuid=SparseVector(133, {}), OHE_ParentProcessId=SparseVector(126, {}), OHE_Task=SparseVector(70, {42: 1.0}), OHE_EventID=SparseVector(165, {50: 1.0}), OHE_CommandLine=SparseVector(272, {}), OHE_ScriptBlockId=SparseVector(255, {}), OHE_RelativeTargetName=SparseVector(34, {}), OHE_TargetFilename=SparseVector(1455, {}), OHE_ScriptBlockText=SparseVector(142, {}), OHE_TargetObject=SparseVector(20985, {}), OHE_ExecutionProcessID=SparseVector(73, {11: 1.0}), OHE_ParentCommandLine=SparseVector(82, {}), OHE_SubjectLogonId=SparseVector(186, {}), OHE_Description=SparseVector(1066, {}), features=SparseVector(29408, {1810: 1.0, 4665: 1.0, 4743: 1.0, 28012: 1.0}), label=0.0, selectedFeatures=SparseVector(10, {}))

In [110]:
result.head().selectedFeatures

SparseVector(10, {})

In [111]:
result.printSchema()

root
 |-- @timestamp: string (nullable = true)
 |-- @version: string (nullable = true)
 |-- AccessList: string (nullable = true)
 |-- AccessMask: string (nullable = true)
 |-- AccessReason: string (nullable = true)
 |-- AccountName: string (nullable = true)
 |-- AccountType: string (nullable = true)
 |-- Action: string (nullable = true)
 |-- Active: string (nullable = true)
 |-- ActiveProfile: string (nullable = true)
 |-- ActivityID: string (nullable = true)
 |-- AdapterName: string (nullable = true)
 |-- AdapterSuffixName: string (nullable = true)
 |-- AdditionalInfo: string (nullable = true)
 |-- AdditionalInfo2: string (nullable = true)
 |-- AdvancedOptions: string (nullable = true)
 |-- AlgorithmName: string (nullable = true)
 |-- Application: string (nullable = true)
 |-- Archived: string (nullable = true)
 |-- AuthenticationPackageName: string (nullable = true)
 |-- BitlockerUserInputTime: string (nullable = true)
 |-- BootMenuPolicy: string (nullable = true)
 |-- BootMode: string (nullable = true)
 |-- BootStatusPolicy: string (nullable = true)
 |-- BootType: string (nullable = true)
 |-- BuildVersion: string (nullable = true)
 |-- CallTrace: string (nullable = true)
 |-- CallerProcessId: string (nullable = true)
 |-- CallerProcessName: string (nullable = true)
 |-- CalloutId: string (nullable = true)
 |-- CalloutKey: string (nullable = true)
 |-- CalloutName: string (nullable = true)
 |-- CalloutType: string (nullable = true)
 |-- Category: string (nullable = true)
 |-- ChangeType: string (nullable = true)
 |-- Channel: string (nullable = true)
 |-- ClassId: string (nullable = true)
 |-- ClassName: string (nullable = true)
 |-- ClientCreationTime: string (nullable = true)
 |-- ClientProcessId: string (nullable = true)
 |-- CommandLine: string (nullable = true)
 |-- Company: string (nullable = true)
 |-- CompatibleIds: string (nullable = true)
 |-- Conditions: string (nullable = true)
 |-- Config: string (nullable = true)
 |-- ConfigAccessPolicy: string (nullable = true)
 |-- ContextInfo: string (nullable = true)
 |-- CorruptionActionState: string (nullable = true)
 |-- CountNew: string (nullable = true)
 |-- CountOfCredentialsReturned: string (nullable = true)
 |-- CountOld: string (nullable = true)
 |-- CreationUtcTime: string (nullable = true)
 |-- CurrentDirectory: string (nullable = true)
 |-- CurrentStratumNumber: string (nullable = true)
 |-- DCName: string (nullable = true)
 |-- Default SD String:: string (nullable = true)
 |-- Description: string (nullable = true)
 |-- DestAddress: string (nullable = true)
 |-- DestPort: string (nullable = true)
 |-- DestinationHostname: string (nullable = true)
 |-- DestinationIp: string (nullable = true)
 |-- DestinationIsIpv6: string (nullable = true)
 |-- DestinationPort: string (nullable = true)
 |-- DestinationPortName: string (nullable = true)
 |-- Details: string (nullable = true)
 |-- Device: string (nullable = true)
 |-- DeviceDescription: string (nullable = true)
 |-- DeviceId: string (nullable = true)
 |-- DeviceName: string (nullable = true)
 |-- DeviceNameLength: string (nullable = true)
 |-- DeviceTime: string (nullable = true)
 |-- DeviceVersionMajor: string (nullable = true)
 |-- DeviceVersionMinor: string (nullable = true)
 |-- Direction: string (nullable = true)
 |-- DirtyPages: string (nullable = true)
 |-- DisableIntegrityChecks: string (nullable = true)
 |-- DisabledPrivilegeList: string (nullable = true)
 |-- DnsServerList: string (nullable = true)
 |-- Domain: string (nullable = true)
 |-- DriveName: string (nullable = true)
 |-- DwordVal: string (nullable = true)
 |-- EdgeTraversal: string (nullable = true)
 |-- ElevatedToken: string (nullable = true)
 |-- EmbeddedContext: string (nullable = true)
 |-- EnableDisableReason: string (nullable = true)
 |-- EnabledNew: string (nullable = true)
 |-- EnabledPrivilegeList: string (nullable = true)
 |-- EntryCount: string (nullable = true)
 |-- ErrorCode: string (nullable = true)
 |-- EventCountTotal: string (nullable = true)
 |-- EventID: long (nullable = true)
 |-- EventIdx: string (nullable = true)
 |-- EventReceivedTime: string (nullable = true)
 |-- EventTime: string (nullable = true)
 |-- EventType: string (nullable = true)
 |-- ExecutionProcessID: long (nullable = true)
 |-- FileName: string (nullable = true)
 |-- FileVersion: string (nullable = true)
 |-- FilterId: string (nullable = true)
 |-- FilterKey: string (nullable = true)
 |-- FilterName: string (nullable = true)
 |-- FilterRTID: string (nullable = true)
 |-- FilterType: string (nullable = true)
 |-- FinalStatus: string (nullable = true)
 |-- Flags: string (nullable = true)
 |-- FlightSigning: string (nullable = true)
 |-- GrantedAccess: string (nullable = true)
 |-- Group: string (nullable = true)
 |-- GroupMembership: string (nullable = true)
 |-- GroupPolicyApplied: string (nullable = true)
 |-- HandleId: string (nullable = true)
 |-- Hash: string (nullable = true)
 |-- Hashes: string (nullable = true)
 |-- HiveName: string (nullable = true)
 |-- HiveNameLength: string (nullable = true)
 |-- Hostname: string (nullable = true)
 |-- HypervisorDebug: string (nullable = true)
 |-- HypervisorLaunchType: string (nullable = true)
 |-- HypervisorLoadOptions: string (nullable = true)
 |-- IdleImplementation: string (nullable = true)
 |-- IdleStateCount: string (nullable = true)
 |-- Image: string (nullable = true)
 |-- ImageLoaded: string (nullable = true)
 |-- ImagePath: string (nullable = true)
 |-- ImpersonationLevel: string (nullable = true)
 |-- Initiated: string (nullable = true)
 |-- InstanceId: string (nullable = true)
 |-- IntegrityLevel: string (nullable = true)
 |-- InterfaceGuid: string (nullable = true)
 |-- InterfaceName: string (nullable = true)
 |-- IpAddress: string (nullable = true)
 |-- IpPort: string (nullable = true)
 |-- Ipaddress: string (nullable = true)
 |-- IsExecutable: string (nullable = true)
 |-- IsTestConfig: string (nullable = true)
 |-- KernelDebug: string (nullable = true)
 |-- KeyFilePath: string (nullable = true)
 |-- KeyLength: string (nullable = true)
 |-- KeyName: string (nullable = true)
 |-- KeyType: string (nullable = true)
 |-- KeysUpdated: string (nullable = true)
 |-- Keywords: long (nullable = true)
 |-- LastBootGood: string (nullable = true)
 |-- LastBootId: string (nullable = true)
 |-- LastShutdownGood: string (nullable = true)
 |-- LayerId: string (nullable = true)
 |-- LayerKey: string (nullable = true)
 |-- LayerName: string (nullable = true)
 |-- LayerRTID: string (nullable = true)
 |-- LinkName: string (nullable = true)
 |-- LmPackageName: string (nullable = true)
 |-- LoadOptions: string (nullable = true)
 |-- LocalAddresses: string (nullable = true)
 |-- LocalOnlyMapped: string (nullable = true)
 |-- LocationInformation: string (nullable = true)
 |-- LogDroppedPacketsEnabled: string (nullable = true)
 |-- LogSuccessfulConnectionsEnabled: string (nullable = true)
 |-- LogonGuid: string (nullable = true)
 |-- LogonId: string (nullable = true)
 |-- LogonProcessName: string (nullable = true)
 |-- LogonType: string (nullable = true)
 |-- LooseSourceMapped: string (nullable = true)
 |-- MajorVersion: string (nullable = true)
 |-- MandatoryLabel: string (nullable = true)
 |-- MaxRunspaces: string (nullable = true)
 |-- MaximumPerformancePercent: string (nullable = true)
 |-- Message: string (nullable = true)
 |-- MessageNumber: string (nullable = true)
 |-- MessageTotal: string (nullable = true)
 |-- MinRunspaces: string (nullable = true)
 |-- MinimumPerformancePercent: string (nullable = true)
 |-- MinimumThrottlePercent: string (nullable = true)
 |-- MiniportName: string (nullable = true)
 |-- MiniportNameLen: string (nullable = true)
 |-- MinorVersion: string (nullable = true)
 |-- ModifyingApplication: string (nullable = true)
 |-- ModifyingUser: string (nullable = true)
 |-- MulticastFlowsEnabled: string (nullable = true)
 |-- NewProcessId: string (nullable = true)
 |-- NewProcessName: string (nullable = true)
 |-- NewProfile: string (nullable = true)
 |-- NewSd: string (nullable = true)
 |-- NewThreadId: string (nullable = true)
 |-- NewTime: string (nullable = true)
 |-- NewValue: string (nullable = true)
 |-- NewValueType: string (nullable = true)
 |-- NominalFrequency: string (nullable = true)
 |-- NotificationPackageName: string (nullable = true)
 |-- Number: string (nullable = true)
 |-- ObjectName: string (nullable = true)
 |-- ObjectServer: string (nullable = true)
 |-- ObjectType: string (nullable = true)
 |-- ObjectValueName: string (nullable = true)
 |-- OldProfile: string (nullable = true)
 |-- OldSd: string (nullable = true)
 |-- OldTime: string (nullable = true)
 |-- OldValue: string (nullable = true)
 |-- OldValueType: string (nullable = true)
 |-- Opcode: string (nullable = true)
 |-- OpcodeValue: long (nullable = true)
 |-- Operation: string (nullable = true)
 |-- OperationMode: string (nullable = true)
 |-- OperationType: string (nullable = true)
 |-- Origin: string (nullable = true)
 |-- OriginalFileName: string (nullable = true)
 |-- PackageName: string (nullable = true)
 |-- ParentCommandLine: string (nullable = true)
 |-- ParentImage: string (nullable = true)
 |-- ParentProcessGuid: string (nullable = true)
 |-- ParentProcessId: string (nullable = true)
 |-- ParentProcessName: string (nullable = true)
 |-- Path: string (nullable = true)
 |-- Payload: string (nullable = true)
 |-- PerformanceImplementation: string (nullable = true)
 |-- PipeName: string (nullable = true)
 |-- PreAuthType: string (nullable = true)
 |-- PreviousCreationUtcTime: string (nullable = true)
 |-- PreviousTime: string (nullable = true)
 |-- PrivilegeList: string (nullable = true)
 |-- ProcessCreationTime: string (nullable = true)
 |-- ProcessGuid: string (nullable = true)
 |-- ProcessId: string (nullable = true)
 |-- ProcessName: string (nullable = true)
 |-- ProcessingMode: string (nullable = true)
 |-- ProcessingTimeInMilliseconds: string (nullable = true)
 |-- Product: string (nullable = true)
 |-- Profile: string (nullable = true)
 |-- ProfileChanged: string (nullable = true)
 |-- ProfileUsed: string (nullable = true)
 |-- Profiles: string (nullable = true)
 |-- Properties: string (nullable = true)
 |-- Protocol: string (nullable = true)
 |-- ProviderContextKey: string (nullable = true)
 |-- ProviderContextName: string (nullable = true)
 |-- ProviderContextType: string (nullable = true)
 |-- ProviderGuid: string (nullable = true)
 |-- ProviderKey: string (nullable = true)
 |-- ProviderName: string (nullable = true)
 |-- ProviderType: string (nullable = true)
 |-- PuaCount: string (nullable = true)
 |-- PuaPolicyId: string (nullable = true)
 |-- QfeVersion: string (nullable = true)
 |-- QueryName: string (nullable = true)
 |-- QueryResults: string (nullable = true)
 |-- QueryStatus: string (nullable = true)
 |-- ReadOperation: string (nullable = true)
 |-- Reason: string (nullable = true)
 |-- ReasonForRejection: string (nullable = true)
 |-- RecordNumber: long (nullable = true)
 |-- RelativeTargetName: string (nullable = true)
 |-- RemoteAddresses: string (nullable = true)
 |-- RemoteAdminEnabled: string (nullable = true)
 |-- RemoteEventLogging: string (nullable = true)
 |-- RemoteMachineID: string (nullable = true)
 |-- RemoteUserID: string (nullable = true)
 |-- ResourceAttributes: string (nullable = true)
 |-- RestrictedAdminMode: string (nullable = true)
 |-- RestrictedSidCount: string (nullable = true)
 |-- ReturnCode: string (nullable = true)
 |-- RuleAttr: string (nullable = true)
 |-- RuleId: string (nullable = true)
 |-- RuleName: string (nullable = true)
 |-- RuleStatus: string (nullable = true)
 |-- SchemaVersion: string (nullable = true)
 |-- ScriptBlockId: string (nullable = true)
 |-- ScriptBlockText: string (nullable = true)
 |-- SecurityOptions: string (nullable = true)
 |-- SecurityPackageName: string (nullable = true)
 |-- Sent UpdateServer: string (nullable = true)
 |-- Service: string (nullable = true)
 |-- ServiceAccount: string (nullable = true)
 |-- ServiceFileName: string (nullable = true)
 |-- ServiceName: string (nullable = true)
 |-- ServiceSid: string (nullable = true)
 |-- ServiceStartType: string (nullable = true)
 |-- ServiceType: string (nullable = true)
 |-- ServiceVersion: string (nullable = true)
 |-- SettingType: string (nullable = true)
 |-- SettingValue: string (nullable = true)
 |-- SettingValueDisplay: string (nullable = true)
 |-- SettingValueSize: string (nullable = true)
 |-- Severity: string (nullable = true)
 |-- SeverityValue: long (nullable = true)
 |-- ShareLocalPath: string (nullable = true)
 |-- ShareName: string (nullable = true)
 |-- ShutdownActionType: string (nullable = true)
 |-- ShutdownEventCode: string (nullable = true)
 |-- ShutdownReason: string (nullable = true)
 |-- Signature: string (nullable = true)
 |-- SignatureStatus: string (nullable = true)
 |-- Signed: string (nullable = true)
 |-- SourceAddress: string (nullable = true)
 |-- SourceHandleId: string (nullable = true)
 |-- SourceHostname: string (nullable = true)
 |-- SourceImage: string (nullable = true)
 |-- SourceIp: string (nullable = true)
 |-- SourceIsIpv6: string (nullable = true)
 |-- SourceModuleName: string (nullable = true)
 |-- SourceModuleType: string (nullable = true)
 |-- SourceName: string (nullable = true)
 |-- SourcePort: string (nullable = true)
 |-- SourcePortName: string (nullable = true)
 |-- SourceProcessGUID: string (nullable = true)
 |-- SourceProcessGuid: string (nullable = true)
 |-- SourceProcessId: string (nullable = true)
 |-- SourceThreadId: string (nullable = true)
 |-- StartAddress: string (nullable = true)
 |-- StartFunction: string (nullable = true)
 |-- StartModule: string (nullable = true)
 |-- StartTime: string (nullable = true)
 |-- StartType: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Status: string (nullable = true)
 |-- StopTime: string (nullable = true)
 |-- SubLayerKey: string (nullable = true)
 |-- SubLayerName: string (nullable = true)
 |-- SubLayerType: string (nullable = true)
 |-- SubjectDomainName: string (nullable = true)
 |-- SubjectLogonId: string (nullable = true)
 |-- SubjectUserName: string (nullable = true)
 |-- SubjectUserSid: string (nullable = true)
 |-- SupportInfo1: string (nullable = true)
 |-- SupportInfo2: string (nullable = true)
 |-- TP_Label: string (nullable = true)
 |-- TSId: string (nullable = true)
 |-- TargetDomainName: string (nullable = true)
 |-- TargetFilename: string (nullable = true)
 |-- TargetHandleId: string (nullable = true)
 |-- TargetImage: string (nullable = true)
 |-- TargetInfo: string (nullable = true)
 |-- TargetLinkedLogonId: string (nullable = true)
 |-- TargetLogonGuid: string (nullable = true)
 |-- TargetLogonId: string (nullable = true)
 |-- TargetName: string (nullable = true)
 |-- TargetObject: string (nullable = true)
 |-- TargetOutboundDomainName: string (nullable = true)
 |-- TargetOutboundUserName: string (nullable = true)
 |-- TargetProcessGUID: string (nullable = true)
 |-- TargetProcessGuid: string (nullable = true)
 |-- TargetProcessId: string (nullable = true)
 |-- TargetProcessName: string (nullable = true)
 |-- TargetServerName: string (nullable = true)
 |-- TargetSid: string (nullable = true)
 |-- TargetUserName: string (nullable = true)
 |-- TargetUserSid: string (nullable = true)
 |-- Task: long (nullable = true)
 |-- TaskContentNew: string (nullable = true)
 |-- TaskName: string (nullable = true)
 |-- TerminalSessionId: string (nullable = true)
 |-- TestSigning: string (nullable = true)
 |-- ThreadID: long (nullable = true)
 |-- TicketEncryptionType: string (nullable = true)
 |-- TicketOptions: string (nullable = true)
 |-- TimeSource: string (nullable = true)
 |-- TimeSourceRefId: string (nullable = true)
 |-- TokenElevationType: string (nullable = true)
 |-- TransactionId: string (nullable = true)
 |-- TransmittedServices: string (nullable = true)
 |-- Type: string (nullable = true)
 |-- UpdateReason: string (nullable = true)
 |-- User: string (nullable = true)
 |-- UserData: string (nullable = true)
 |-- UserID: string (nullable = true)
 |-- UserName: string (nullable = true)
 |-- UserSid: string (nullable = true)
 |-- UtcTime: string (nullable = true)
 |-- VendorIds: string (nullable = true)
 |-- Version: long (nullable = true)
 |-- VersionLen: string (nullable = true)
 |-- VirtualAccount: string (nullable = true)
 |-- VsmLaunchType: string (nullable = true)
 |-- VsmPolicy: string (nullable = true)
 |-- Weight: string (nullable = true)
 |-- Workstation: string (nullable = true)
 |-- WorkstationName: string (nullable = true)
 |-- host: string (nullable = true)
 |-- param1: string (nullable = true)
 |-- param10: string (nullable = true)
 |-- param11: string (nullable = true)
 |-- param2: string (nullable = true)
 |-- param3: string (nullable = true)
 |-- param4: string (nullable = true)
 |-- param5: string (nullable = true)
 |-- param6: string (nullable = true)
 |-- param7: string (nullable = true)
 |-- param8: string (nullable = true)
 |-- param9: string (nullable = true)
 |-- port: long (nullable = true)
 |-- id: long (nullable = false)
 |-- TP_Binary: integer (nullable = false)
 |-- IDX_ProcessId: double (nullable = false)
 |-- IDX_ProcessGuid: double (nullable = false)
 |-- IDX_ThreadID: double (nullable = false)
 |-- IDX_NewProcessId: double (nullable = false)
 |-- IDX_Hashes: double (nullable = false)
 |-- IDX_Image: double (nullable = false)
 |-- IDX_ParentProcessGuid: double (nullable = false)
 |-- IDX_ParentProcessId: double (nullable = false)
 |-- IDX_Task: double (nullable = false)
 |-- IDX_EventID: double (nullable = false)
 |-- IDX_CommandLine: double (nullable = false)
 |-- IDX_ScriptBlockId: double (nullable = false)
 |-- IDX_RelativeTargetName: double (nullable = false)
 |-- IDX_TargetFilename: double (nullable = false)
 |-- IDX_ScriptBlockText: double (nullable = false)
 |-- IDX_TargetObject: double (nullable = false)
 |-- IDX_ExecutionProcessID: double (nullable = false)
 |-- IDX_ParentCommandLine: double (nullable = false)
 |-- IDX_SubjectLogonId: double (nullable = false)
 |-- IDX_Description: double (nullable = false)
 |-- OHE_ProcessId: vector (nullable = true)
 |-- OHE_ProcessGuid: vector (nullable = true)
 |-- OHE_ThreadID: vector (nullable = true)
 |-- OHE_NewProcessId: vector (nullable = true)
 |-- OHE_Hashes: vector (nullable = true)
 |-- OHE_Image: vector (nullable = true)
 |-- OHE_ParentProcessGuid: vector (nullable = true)
 |-- OHE_ParentProcessId: vector (nullable = true)
 |-- OHE_Task: vector (nullable = true)
 |-- OHE_EventID: vector (nullable = true)
 |-- OHE_CommandLine: vector (nullable = true)
 |-- OHE_ScriptBlockId: vector (nullable = true)
 |-- OHE_RelativeTargetName: vector (nullable = true)
 |-- OHE_TargetFilename: vector (nullable = true)
 |-- OHE_ScriptBlockText: vector (nullable = true)
 |-- OHE_TargetObject: vector (nullable = true)
 |-- OHE_ExecutionProcessID: vector (nullable = true)
 |-- OHE_ParentCommandLine: vector (nullable = true)
 |-- OHE_SubjectLogonId: vector (nullable = true)
 |-- OHE_Description: vector (nullable = true)
 |-- features: vector (nullable = true)
 |-- label: double (nullable = false)
 |-- selectedFeatures: vector (nullable = true)

In [113]:
r = ChiSquareTest.test(df2, "features", "label")

In [114]:
r

DataFrame[pValues: vector, degreesOfFreedom: array<int>, statistics: vector]

In [116]:
ChiSquareResults = []
for idx, result in enumerate(r):
    row = {
        'feature_index': idx,
        'p_value': result.pValue,
        'statistic': result.statistic,
        'degrees_of_freedom': result.degreesOfFreedom
    }
    ChiSquareResults.append(row)

In [117]:
ChiSquareResults

[{'feature_index': 0,
  'p_value': Column<b'pValues[pValue]'>,
  'statistic': Column<b'pValues[statistic]'>,
  'degrees_of_freedom': Column<b'pValues[degreesOfFreedom]'>},
 {'feature_index': 1,
  'p_value': Column<b'degreesOfFreedom[pValue]'>,
  'statistic': Column<b'degreesOfFreedom[statistic]'>,
  'degrees_of_freedom': Column<b'degreesOfFreedom[degreesOfFreedom]'>},
 {'feature_index': 2,
  'p_value': Column<b'statistics[pValue]'>,
  'statistic': Column<b'statistics[statistic]'>,
  'degrees_of_freedom': Column<b'statistics[degreesOfFreedom]'>}]

In [121]:
# Select subset of columns with more than 1 AND less than 52 unique values -> top 20
#columnList = list(pd_target_distict_count.loc[(pd_target_distict_count[0] > 1) & (pd_target_distict_count[0] < 52)].sort_values(by = 0, ascending = False).iloc[:20].index.values)
columnList = ["EventID", "ProcessGuid"]

# one hot encoding and assembling
encoding_var = columnList
#num_var = [i[0] for i in df.dtypes if ((i[1]=='int') | (i[1]=='double')) & (i[0]!='y')]

string_indexes = [StringIndexer(inputCol = c, outputCol = 'IDX_' + c, handleInvalid = 'keep') for c in encoding_var]
onehot_indexes = [OneHotEncoderEstimator(inputCols = ['IDX_' + c], outputCols = ['OHE_' + c]) for c in encoding_var]
label_indexes = StringIndexer(inputCol = 'TP_Binary', outputCol = 'label', handleInvalid = 'keep')
assembler = VectorAssembler(inputCols = ['OHE_' + c for c in encoding_var], outputCol = "features")
selector = ChiSqSelector(numTopFeatures=50, featuresCol='features', outputCol="selectedFeatures", labelCol='label', selectorType='numTopFeatures', percentile=0.1, fpr=0.05, fdr=0.05, fwe=0.05)

In [122]:
pipe = Pipeline(stages = string_indexes + onehot_indexes + [assembler, label_indexes, selector])

In [123]:
mod = pipe.fit(df_index)

In [124]:
df2 = mod.transform(df_index)

In [164]:
def ExtractFeatureSelection(featuresSelected, dataset, featuresCol):
    list_extract = []
    for i in dataset.schema[featuresCol].metadata["ml_attr"]["attrs"]:
      list_extract = list_extract + dataset.schema[featuresCol].metadata["ml_attr"]["attrs"][i]
    varlist = pd.DataFrame(featuresSelected).rename(columns={0:"idx"})
    pd_list_extract = pd.DataFrame(list_extract)
    varlist['name'] = varlist['idx'].apply(lambda x: pd_list_extract.iloc[x, 1])
    return(varlist)

In [165]:
ExtractFeatureSelection(mod.stages[-1].selectedFeatures, df2, "features")

    idx                                                    name
0     0                                          OHE_EventID_12
1     1                                          OHE_EventID_10
2     2                                           OHE_EventID_7
3     3                                          OHE_EventID_13
4     4                                        OHE_EventID_4658
5     5                                        OHE_EventID_4103
6     6                                        OHE_EventID_4656
7     7                                        OHE_EventID_4690
8     8                                        OHE_EventID_4663
9     9                                         OHE_EventID_800
10   34                                        OHE_EventID_5145
11  165  OHE_ProcessGuid_{47ab858c-e374-5eac-d803-000000000400}
12  166  OHE_ProcessGuid_{47ab858c-e6c0-5eac-7600-000000000500}
13  167  OHE_ProcessGuid_{32aa854b-e288-5eac-5203-000000000300}
14  168  OHE_ProcessGuid_{32aa854b-e60c-5eac-6103-000000000300}
15   11                                        OHE_EventID_5447
16  169  OHE_ProcessGuid_{47ab858c-cada-5eac-1000-000000000400}
17  403  OHE_ProcessGuid_{47ab858c-cad9-5eac-0b00-000000000400}
18   10                                        OHE_EventID_5156
19  450  OHE_ProcessGuid_{47ab858c-e305-5eac-d303-000000000400}
20  453  OHE_ProcessGuid_{47ab858c-e2f2-5eac-d203-000000000400}
21  170  OHE_ProcessGuid_{5aa8ec29-cad8-5eac-1000-000000000400}
22  434  OHE_ProcessGuid_{47ab858c-e2ac-5eac-cb03-000000000400}
23   12                                        OHE_EventID_5158
24   13                                        OHE_EventID_4703
25   19                                           OHE_EventID_1
26  171  OHE_ProcessGuid_{47ab858c-dac2-5eac-e802-000000000400}
27  173  OHE_ProcessGuid_{47ab858c-cae1-5eac-4600-000000000400}
28  174  OHE_ProcessGuid_{5aa8ec29-dad4-5eac-a702-000000000400}
29  175  OHE_ProcessGuid_{47ab858c-e69e-5eac-0100-000000000500}
30  176  OHE_ProcessGuid_{47ab858c-e710-5eac-bf00-000000000500}
31  172  OHE_ProcessGuid_{47ab858c-e23d-5eac-c603-000000000400}
32   18                                        OHE_EventID_4688
33  177  OHE_ProcessGuid_{5aa8ec29-e5e4-5eac-7a03-000000000400}
34  179  OHE_ProcessGuid_{47ab858c-e713-5eac-cc00-000000000500}
35  180  OHE_ProcessGuid_{47ab858c-cada-5eac-1100-000000000400}
36  178  OHE_ProcessGuid_{47ab858c-e14e-5eac-ac03-000000000400}
37   16                                        OHE_EventID_4673
38  181  OHE_ProcessGuid_{47ab858c-e6b1-5eac-4b00-000000000500}
39   14                                          OHE_EventID_11
40  182  OHE_ProcessGuid_{5aa8ec29-cad8-5eac-1100-000000000400}
41  183  OHE_ProcessGuid_{47ab858c-e710-5eac-c100-000000000500}
42  184  OHE_ProcessGuid_{47ab858c-e587-5eac-f603-000000000400}
43  185  OHE_ProcessGuid_{5aa8ec29-e599-5eac-7403-000000000400}
44  186  OHE_ProcessGuid_{5aa8ec29-e216-5eac-5503-000000000400}
45  187  OHE_ProcessGuid_{5aa8ec29-e238-5eac-5903-000000000400}
46  188  OHE_ProcessGuid_{47ab858c-e225-5eac-c303-000000000400}
47  189  OHE_ProcessGuid_{47ab858c-e2d4-5eac-cc03-000000000400}
48   17                                           OHE_EventID_9
49  190  OHE_ProcessGuid_{47ab858c-e203-5eac-be03-000000000400}

In [166]:
# Try again with more columns

In [167]:
# Select subset of columns with more than 1 AND less than 52 unique values -> top 20
columnList = list(pd_target_distict_count.loc[(pd_target_distict_count[0] > 1) & (pd_target_distict_count[0] < 52)].sort_values(by = 0, ascending = False).iloc[:20].index.values)
#columnList = ["EventID", "ProcessGuid"]

# one hot encoding and assembling
encoding_var = columnList
#num_var = [i[0] for i in df.dtypes if ((i[1]=='int') | (i[1]=='double')) & (i[0]!='y')]

string_indexes = [StringIndexer(inputCol = c, outputCol = 'IDX_' + c, handleInvalid = 'keep') for c in encoding_var]
onehot_indexes = [OneHotEncoderEstimator(inputCols = ['IDX_' + c], outputCols = ['OHE_' + c]) for c in encoding_var]
label_indexes = StringIndexer(inputCol = 'TP_Binary', outputCol = 'label', handleInvalid = 'keep')
assembler = VectorAssembler(inputCols = ['OHE_' + c for c in encoding_var], outputCol = "features")
selector = ChiSqSelector(numTopFeatures=50, featuresCol='features', outputCol="selectedFeatures", labelCol='label', selectorType='numTopFeatures', percentile=0.1, fpr=0.05, fdr=0.05, fwe=0.05)

In [168]:
pipe = Pipeline(stages = string_indexes + onehot_indexes + [assembler, label_indexes, selector])

In [169]:
mod = pipe.fit(df_index)

In [170]:
df2 = mod.transform(df_index)

In [171]:
ExtractFeatureSelection(mod.stages[-1].selectedFeatures, df2, "features")

,idx,name
0,0,OHE_ProcessId_3852
1,1,OHE_ProcessId_5044
2,2,OHE_ProcessId_900
3,3,OHE_ProcessId_884
4,4,OHE_ProcessId_0xf0c
5,5,OHE_ProcessId_944
6,1107,OHE_ProcessGuid_{47ab858c-e374-5eac-d803-000000000400}
7,1108,OHE_ProcessGuid_{47ab858c-e6c0-5eac-7600-000000000500}
8,1757,OHE_ThreadID_4612
9,1758,OHE_ThreadID_4588
10,1759,OHE_ThreadID_4224
11,1760,OHE_ThreadID_4236
12,1761,OHE_ThreadID_4396
13,1762,OHE_ThreadID_0
14,1763,OHE_ThreadID_4616
15,1764,OHE_ThreadID_5584
16,2558,"OHE_Hashes_SHA1=36C5D12033B2EAF251BAE61C00690FFB17FDDC87,MD5=CDA48FC75952AD12D99E526D0B6BF70A,SH..."
17,2672,"OHE_Hashes_SHA1=7662A8D2F23C3474DEC6EF8E2B0365B0B86714EE,MD5=F68AF942FD7CCC0E7BAB1A2335D2AD26,SH..."
18,2711,"OHE_Hashes_SHA1=585EB59D12A111E9291518C5CF5D3FD296C2B581,MD5=57292CE8714E2D221D9D97C9D061D332,SH..."
19,4176,OHE_Image_C:\windows\system32\svchost.exe
20,4177,OHE_Image_C:\windows\system32\WindowsPowerShell\v1.0\powershell.exe
21,4178,OHE_Image_C:\windows\system32\wbem\wmiprvse.exe
22,4179,OHE_Image_C:\Windows\System32\svchost.exe
23,4180,OHE_Image_C:\windows\system32\backgroundTaskHost.exe
24,4181,OHE_Image_C:\windows\System32\svchost.exe
25,4182,OHE_Image_C:\windows\system32\sihost.exe
26,4233,OHE_Image_C:\Program Files\SysinternalsSuite\sdelete64.exe
27,4381,OHE_ParentProcessGuid_{47ab858c-e43f-5eac-eb03-000000000400}
28,4511,OHE_ParentProcessId_8984
29,4623,OHE_Task_12
30,4624,OHE_Task_10
31,4625,OHE_Task_12801
32,4626,OHE_Task_7
33,4627,OHE_Task_13
34,4628,OHE_Task_106
35,4629,OHE_Task_12807
36,4630,OHE_Task_12810
37,4631,OHE_Task_8
38,4654,OHE_Task_12811
39,4693,OHE_EventID_12
40,4694,OHE_EventID_10
41,4695,OHE_EventID_7
42,4696,OHE_EventID_13
43,4697,OHE_EventID_4658
44,4698,OHE_EventID_4103
45,4699,OHE_EventID_4656
46,4700,OHE_EventID_4690
47,4701,OHE_EventID_4663
48,4702,OHE_EventID_800
49,4727,OHE_EventID_5145

In [1]:
df_index

NameError: name 'df_index' is not defined